{% extends "site_base.html"%}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block page_header %}
Cursos Turismo
{% endblock %}

{% block body %}

<form action="" method="post">{% csrf_token %}
{{ form|as_bootstrap }}
<br />
<div class="form-actions">
<a href="{% url 'turismo_home' %}" class="btn">Cancelar</a>
<button type="submit" class="btn btn-primary">Guardar</button>
</div>
</form>

{% endblock %}

{% block scripts %}

<link href="{% static 'vendors/chosen_v1.4.2/chosen.min.css' %}" rel="stylesheet">
<script src="{% static 'vendors/chosen_v1.4.2/chosen.jquery.min.js' %}"></script>

<script>
$(function() {
  $("#id_asignatura").chosen();
  $("#id_alumno").chosen();
});
</script>
{% endblock %}
