{% extends "site_base.html"%}
{% load i18n %}

{% block page_header %}
Cursos Turismo 
<a class="btn btn-primary" href="{% url 'turismo_curso_nuevo' %}">Nuevo curso</a>
<a class="btn btn-primary" href="{% url 'turismo_asignatura_nueva' %}">Nueva asignatura</a>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 col-xs-12">
        {% for curso in object_list %}
        <h1>{{curso}}<a href="{% url 'turismo_curso_borrar' curso.id%}">
        <i class="zmdi zmdi-delete"></i>
        </a></h1>
        <table class="table">
            {% for asignatura in curso.asignaturas.all %}
            <tr>
                <td>
                    <a href="{% url 'turismo_asignatura_detalle' asignatura.id %}">{{asignatura}}</a>
                </td>
<!--
                <td>{{asignatura.profesor}}</td>
-->
                
                    {% for clase in asignatura.clases_turismo.all %}
                    <td>{{clase}} </td>
                    {% endfor %}
                
            </tr>
            {% endfor %}
        </table>
        
        {% endfor %}
    </div>
</div>
{% endblock %}
