{% extends "site_base.html"%}
{% load i18n %}

{% block body %}
<script>
function activate_year(id) {
    console.log("Vamos a mandar activar el año con id"+id);
     $('body').addClass('wait');
     $.ajax({
        url : "{% url 'year_activar' %}",
        type : "POST", 
        data : { id : id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
             },
        
        success : function(json) {
            console.log("success"); // another sanity check
            console.log(json); // log the returned json to the console
            $('body').removeClass('wait');
            //FIXME un reload?
            location.reload(); 
        },
        
        error : function(xhr,errmsg,err) {
            console.log("ERROR",errmsg,err);
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            $('body').removeClass('wait');
        }
        

    });
}

function clone_year(id) {
    if ( confirm("¿Está seguro de querer copiar todos los grupos del año activo al año seleccionado? Esta acción borrará todo los grupos que existan en el año de destino") ==true )
    {
        console.log("Vamos a mandar clonar el año con id"+id);
	     $('body').addClass('wait');
	     $.ajax({
	        url : "{% url 'year_clone' %}",
	        type : "POST", 
	        data : { id : id,
	                csrfmiddlewaretoken: '{{ csrf_token }}',
	             },
	        
	        success : function(json) {
	            console.log(json); // log the returned json to the console
	            console.log("success"); // another sanity check
	            $('body').removeClass('wait');
	            //FIXME un reload?
	            location.reload(); 
	        },
	        
	        error : function(xhr,errmsg,err) {
	            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
	            $('body').removeClass('wait');
	        }
	    });
        
    } else {
	console.log("Cancelado");
    }
    
}

function empty_year(id) {
    console.log("Vamos a mandar vaciar el año con id"+id);
     $('body').addClass('wait');
     $.ajax({
        url : "{% url 'year_empty' %}",
        type : "POST", 
        data : { id : id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
             },
        
        success : function(json) {
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
            $('body').removeClass('wait');
            //FIXME un reload?
            location.reload(); 
        },
        
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            $('body').removeClass('wait');
        }
        

    });
}
</script>

<div class="row">
    <div class="col-md-10 col-xs-12">
        <h4>Listado de Años</h4>
     
        <table class="table">
            <thead>
                <tr>
                <td>ID</td>
                <td>Año inicio</td>
                <td>Nombre</td>
                <td>Grupos</td>
                <td>Asistencias</td>
                <td>Activo</td>
                <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
            {% for year in object_list %}
            <tr>
				<td><a href="{% url 'year_editar' year.id %}">{{year.id}}</a></td>
				<td>{{ year.start_year }}</td>
				<td>{{ year.name }}</td>
				<td>{{ year.grupo_set.all.count }}</td>
				<td>{{ year.asistencia_set.all.count }}</td>
				<td>{{ year.activo|yesno:"Si,No" }}</td>
                <td>
                    <button onclick="activate_year({{ year.id }})">Activar</button>
                    <button onclick="clone_year({{ year.id }})">Copiar
                        grupos</button>
                    <!-- <button onclick="empty_year({{ year.id }})">Eliminar
                        grupos</button> -->
                </td>
			 </tr>
			 {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    <h4>Acciones</h4>
    {% include "pagination/pagination.html" %}
    <a href="{% url 'year_nuevo' %}"><button>Nuevo</button></a>
    </div>
</div>
{% endblock %}
