.idea/
*.pyc
node_modules/
_build/
dev.db
site_media/
bin/
include/
lib/
local/
share/
gestioneide/local_settings.py
pip-selfcheck.json
*.sql
gestioneide.json
auth.json
old_data*
nohup.out
.vscode
codigos_optimise.csv
debug.log
pyvenv.cfg
newrelic.ini
cambridge_data.json
