Django==2.2.24
pinax-templates
pinax-documents==1.0.2
pinax-templates
django-crispy-forms
pinax-messages==2.0.2
pinax-notifications==5.0.3
django-user-accounts==2.1.0
Django-appconf==1.0.2
metron==1.3.7
pinax-eventlog==4.0.1
django-localflavor==2.2
phonenumbers
django-phonenumber-field
sqlobject
ipython
#xhtml2pdf==0.1a2
#django-xhtml2pdf
xlwt
#MySQL-python
mysqlclient
django-mysql
django-fixture-magic
#django-tables2
django-wkhtmltopdf
unidecode
#ipython==5
#gunicorn==19.6.0
django-anymail
jsonfield==2.1.1
python-dateutil
pycrypto
bootstrap3-datetime
django-cookie-consent
django-excel-response
