{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}Informes{% endblock %}

{% block page_header %}<h1>Informes,estadísitcas y errores</h1>{% endblock %}

{% block body %} 

<div class="row">
<h1>Planillas de asistencias de todos los grupos</h1>
<div class="col-md-8 col-md-offset-2">
    <table class="table">
        <tr>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 9  %}">Septiembre</a></td>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 10 %}">Octubre</a></td>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 11 %}">Noviembre</a></td>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 12 %}">Diciembre</a></td>
        </tr>
        <tr>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 1 %}">Enero</a></td>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 2 %}">Febrero</a></td>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 3 %}">Marzo</a></td>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 4 %}">Abril</a></td>
        </tr>
        <tr>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 5 %}">Mayo</a></td>
            <td><a target="_blank" href="{% url 'imprimir_grupos_planilla_asistencia' 6 %}">Junio</a></td>
            <td><a href="">Julio</a></td>
            <td><a href="">Agosto</a></td>
        </tr>
    </table>
</div>
</div>
<div class="row">
<h1>Listado de faltas por mes</h1>
<div class="col-md-9 col-md-offset-1">
    <table class="table">
        <tr>
            <td>Septiembre  
                <a target="_blank" href="{% url 'faltas_mes' 9 %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 9 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
            <td>Octubre     
                <a target="_blank" href="{% url 'faltas_mes' 10 %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 10 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
            <td>Noviembre   
                <a target="_blank" href="{% url 'faltas_mes' 11 %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 11 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
            <td>Diciembre   
                <a target="_blank" href="{% url 'faltas_mes' 12 %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 12 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
        </tr>               
        <tr>                
            <td>Enero       
                <a target="_blank" href="{% url 'faltas_mes' 1  %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 1 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
            <td>Febrero     
                <a target="_blank" href="{% url 'faltas_mes' 2  %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 2 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
            <td>Marzo       
                <a target="_blank" href="{% url 'faltas_mes' 3  %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 3 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
            <td>Abril       
                <a target="_blank" href="{% url 'faltas_mes' 4  %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 4 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
        </tr>               
        <tr>                
            <td>Mayo        
                <a target="_blank" href="{% url 'faltas_mes' 5  %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 5 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
            <td>Junio       
                <a target="_blank" href="{% url 'faltas_mes' 6  %}"><i class="zmdi zmdi-format-list-bulleted"></i>Lista</a>
                <a target="_blank" href="{% url 'faltas_mes_cartas' 6 %}"><i class="zmdi zmdi-email"></i>Cartas</a>
            </td>
            <td><a href="">Julio</a></td>
            <td><a href="">Agosto</a></td>
        </tr>
    </table>
</div>
</div>
    <h1>Listado Notas</h1>
        <table class="table table-hover">
            <tr>
                <td><a href="{% url 'listado_notas_trimestre' 1 %}"> 1º Trim </a></td>
                <td><a href="{% url 'listado_notas_cuatrimestre' 1 %}"> 1º Quat.</a></td>
                <td><a href="{% url 'listado_notas_trimestre' 2 %}"> 2º Trim </a></td>
                <td><a href="{% url 'listado_notas_cuatrimestre' 2 %}"> 2º Quat.</a></td>
                <td><a href="{% url 'listado_notas_trimestre' 3 %}"> 3º Trim </a></td>
            </tr>
</table>
            
<div class="col-md-12">
<h1>Informes y estadísticas</h1>
    <h2>Listados</h2>
    <ul>
        <li><a href="{% url 'listado_profesores_clases' %}">Listado de Profesores y sus clases</li>
        <li><a href="{% url 'listado_aulas_clases' %}">Listado de Aulas y sus clases</a></li>
        <li><a target="_blank" href="{% url 'listado_alumnos_xls' %}">Listado
            en formato excel de alumnos con año de nacimiento y grupos<i class="zmdi zmdi zmdi-view-list"></i></a></li>
        <li><a target="_blank" href="{% url 'listado_grupos_xls' %}">Listado de grupos en formato Excel</a></li>
        <li><a target="_blank" href="{% url 'listado_asistencias_xls' %}">Listado de asistencias en formato Excel</a></li>        
    </ul>
    <h2>Listado con numero de teléfono</h2>
    <ul>
    {% for year in years %}
    <li><a target="_blank" href="{% url 'listado_telefonos_alumnos_xls'  year.id %}">
        <i class="zmdizmdi-view-list"></i>{{year}}
        </a>
    </li>
    {% endfor %}
    <li>Listado de números de telefonos de menores (PENDIENTE)</li>
    <li>Listado de números de telefonos de adultos (PENDIENTE)</li>
    
    </ul>
    <h2>Listado de notas y faltas</h2>
    <ul>
    {% for year in years %}
    <li>
        <a target="_blank" href="{% url 'listado_notas_trimestre_ano' year.start_year %}">
        <i class="zmdizmdi-view-list"></i>{{year}} Trimestrales
        </a> ||
        <a target="_blank" href="{% url 'listado_notas_cuatrimestre_ano' year.start_year %}">
        <i class="zmdizmdi-view-list"></i>{{year}} Cuarimestrales
        </a>
    </li>
    {% endfor %}
    </ul>
<h1>Errores</h1>
    <h2>Grupos</h2>
    <ul>
        <li><a target="_blank" href="{% url 'listado_asistencias_no_confirmadas_xls' %}">Listado de asistencias NO confirmadas en formato Excel</a></li>
    </ul>
    <h2>Alumnos</h2>
    <ul>
        <li><a target="_blank" href="{% url 'listado_asistencias_errores' %}">Alumnos sin confirmar</a></li>
        <li><a target="_blank" href="{% url 'listado_asistencias_descuento' %}">Alumnos con descuento</a></li>
        <li><a target="_blank" href="{% url 'listado_asistencias_metalico' %}">Alumnos con pago en metálico</a></li>
        <li><a target="_blank" href="{% url 'listado_alumnos_errores' %}">Alumnos dados de baja y en grupos</a></li>
        <li><a target="_blank" href="{% url 'listado_alumnos_banco_errores' %}">Cuentas bancarias mal</a></li>
    </ul>
</div>
{% endblock %}
