{% extends "site_base.html"%}
{% load i18n %}

{% block page_header %}

{% include "pagination/pagination.html" %} 
Viendo <b>{{ page_obj.start_index }}</b>-<b>{{ page_obj.end_index }}</b> alumnos.

{% endblock %}
{% block body %}
<h1>Notas del {{ year }}</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered bootgrid-table table-striped">
            <thead>
                <tr>
                <td>Alumno</td>
                <td>Grupo</td>
                <td>Faltas/Justificadas</td>
                <td>Trimestre</td>
                <td>Control</td>
                <td>Gra.</td>
                <td>Read</td>
                <td>Wri.</td>
                <td>Use.</td>
                <td>Lis.</td>
                <td>Spe.</td>
                <td>Com.</td>
                <td>Tipo</td>
                <td><b>Media</b></td>
                </tr>
            </thead>
            <tbody>
            {% for nota in notas_list %}
            <tr>
                <td>{{nota.asistencia.alumno}}</td>
                <td>{{nota.asistencia.grupo}}</td>
                <td>{{nota.ver_legacy_faltas}}</td>
                <td>{{nota.cuatrimestre}}</td>
                <td>
                    {% if nota.control_np %}
                    NP
                    {% else %}
                    {{nota.control}}
                    {% endif %}
                </td>
                <td>{{nota.grammar}}</td>
                <td>{{nota.reading}}</td>
                <td>{{nota.writing}}</td>
                <td>{{nota.useofenglish}}</td>
                <td>{{nota.listenning}}</td>
                <td>{{nota.speaking}}</td>
                <td>{{nota.comportamiento}}</td>
                <td>{{nota.asistencia.grupo.curso.get_tipo_evaluacion_display}}</td>
                <td>{{nota.media}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
