{% extends "site_base.html"%}

{% load i18n %}

{% block body %}
<style>
body.wait *, body.wait
{
    cursor: progress !important;
}
</style>
<script>
    
function load_olddb(id) {
    console.log("Vamos a mandar carga la BBDD con id"+id);
     $('body').addClass('wait');
     $.ajax({
        url : "{% url 'load_olddb' %}",
        type : "POST", 
        data : { id : id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
             },
        
        success : function(json) {
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
            $('body').removeClass('wait');
        },
        
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            $('body').removeClass('wait');
        }

    });
}   
</script>

<div class="row">
    <div class="col-md-12">
        <h4>Listado de Db</h4> 
        <table class="table">
			<thead>
				<th>Nombre</th>
				<th>Estado</th>
				<th>Acciones</th>
			</thead>
			<tbody>
			
            {% for document in object_list %}
            <tr>
                <td><a href="{{ document.dbfile.url }}">{{ document.dbfile.name }}</a></td>
                <td></td>
                <td><button onclick="load_olddb({{ document.id }})">Cargar</button></td>
            </tr>
            {% endfor %}
            </tbody>                
        </table>
        <a href="{% url 'upload' %}"><button>Upload</button></a>
    </div>
</div>
{% endblock %}
