{% extends "site_base.html" %}

{% load i18n %}
{% load evaluacion_extra_tags %}
{% load bootstrap %}

{% block head_title %}{% endblock %}


{% block body %}
<a class="btn btn-primary" href="{% url 'recibo_nuevo' %}">Nuevo recibo</a>
<table role="table" class="table">
	<thead>
		<th>Fecha Creación</th><th>Mes</th><th>Medio Mes</th><th>Fichero CSB19</th><th>Informe</th>
	</thead>
	<tbody>
		 {% for recibo in object_list %}
		 <tr>
			 <td><a href="{{ recibo.get_absolute_url }}" >{{ recibo.fecha_creacion }}</a></td>
			 <td>{{ recibo.get_mes_display }}</td><td>{{ recibo.medio_mes|yesno }}</td>
			 <td><a href="{% url 'recibo_fichero' recibo.id %}" ><span class="glyphicon glyphicon-list"></span></a></td>
			 <td><a href="{% url 'recibo_informe' recibo.id %}" ><span class="glyphicon glyphicon-print"></span></a></td>
		 </tr>
		 {% endfor %}
	</tbody>
</table>
{% endblock %}
