{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load bootstrap_tags %}
{% block head_title %}Nuevo recibo{% endblock %}

{% block body %}

<form role="form" method="post" action="{% url 'recibo_nuevo'  %}">
{% csrf_token %}

{{ form|as_bootstrap }}

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Crear</button>
		<a href="{% url 'recibos' %}" >Cancelar</a>
	</div>
</form>
{% endblock %}

{% block extra_body %}
<script>
$(document).ready(function() {
	$("#id_year").prop('contenteditable', false);
});
</script>
{% endblock %}

