{% extends "site_base.html" %}

{% load i18n %}
{% load evaluacion_extra_tags %}
{% load bootstrap %}

{% block head_title %}Recibo{% endblock %}


{% block body %}

	
<table role="table" class="table">
	<tr>
		<td><b>Fecha creación</b>: {{ recibo.fecha_creacion }}</td><td>Mes: {{ recibo.get_mes_display }}</td><td>Medio Mes: {{ recibo.medio_mes|yesno }}</td>
	</tr>
	<tr>
		<td colspan="3"><b>Grupos</b></td>
	</tr>
	{% if recibo.grupos_sueltos %}
	{% for grupo in recibo.grupos.all %}
	<tr><td colspan="2">{{ grupo }}</td><td align="right">{{ grupo.asistencia_set.all.count}} alumnos</td></tr>
	{% endfor %}
	{% else %}
	<tr><td align="right" colspan="3">Todos</td></tr>
	{% endif %}
	<tr>
		<td colspan="2">Metálico</td><td align="right">{{ recibo.get_alumnos_metalico.count }} alumnos</td>
	</tr>

	<tr>
		<td colspan="2">Total</td><td align="right">{{ recibo.get_total_alumnos }} alumnos</td>
	</tr>
</table>

<div class="form-group">
		<!--<a class="btn btn-primary" href="{% url 'recibo_fichero' recibo.id %}" >Volver</a>-->
		<a class="btn btn-primary" href="{% url 'recibo_fichero' recibo.id %}" >Descargar fichero CSB19</a>
		<a class="btn btn-primary" href="{% url 'recibo_informe' recibo.id %}"
            >Ver Informe</a>
		<a class="btn btn-primary" href="{% url 'recibos' %}" >Volver</a>
</div>


{% endblock %}
