{% extends "site_base.html"%}

{% load i18n %}

{% block page_header %}<h1> {{object.apellido1}} {{object.apellido2}}, {{object.nombre}}</h1>{% endblock %}

{% block body %}

<h2>Datos personales</h2>

<table class="table">
    <tr>
        <td>Nombre</td><td>{{object.nombre}}</td>
        <td>Apellido(s)</td><td>{{object.apellido1}} {{object.apellido2}}</td>
    </tr>
        <td>Teléfonos</td><td>{{object.telefono1}}</td>
        <td>{{object.telefono2}}</td>
    </tr>
    </tr>
        <td>E-Mail</td>
        <td><e-mail>{{object.email}}</e-mail></td>
        <td><e-mail>{{object.email2}}</e-mail></td>
    </tr>
    <tr>
        <td>Fecha Nac.</td> <td>{{ object.fecha_nacimiento }}</td> <td>E-mail</td><td><a href="mailto:{{object.email}}">{{object.email}}</a></td>
    </tr>
    <tr>
        <td>Dirección</td><td>{{object.direccion}}</td>
        <td>Ciudad</td><td>{{object.ciudad}}</td>
        <td>CP</td><td>{{object.cp}}</td>
    </tr>
</table>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
