{% extends "site_base.html"%}

{% load i18n %}

{% load calendario_tags %}

{% block body %}
<div class="row">
    <a href="{% url 'festivos_lista' %}" class="btn btn-primary pull-right" > Listado de festivos </a>
</div>

<div class="row">

{% for mes in meses %}
	<div class="col-lg-4">
		<h3>{{mes.nombre}}</h3>
			<table class="table" >
			{% for semana in mes.calendario %}
			<tr>
			{% for dia in semana%}
                {% with es_festivo_generico=dia|festivo es_festivo_eide=dia|festivo_eide %}
				<td {% if es_festivo_eide %}class="bg-info" {% endif %} 
					{% if es_festivo_generico %}class="bg-warning" {% endif %} >					
				{% if es_festivo_generico %}
					{{dia.day}}
				{% else %}
					{% if es_festivo_eide > 0 %}
					<a href="{% url 'festivo_editar' es_festivo_eide %}"><b class="">{{ dia.day }}</b></a>
					{% else %}
					<a href="{% url 'festivo_nuevo' dia.year dia.month dia.day %}">{{ dia.day }}</a>
					{% endif %}
				{% endif %}	
				</td>
				{% endwith %}
				{%endfor%}
			</tr>
			
		{%endfor%}
		</table>
	</div><!-- FIN DIV col -->
{% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
{% endif %}
{%endfor%}	
</div>


{% endblock %}
