{% extends "site_base.html"%}
{% load i18n %}
{% load bootstrap %}


{% block extra_body %}

    <script>
	/* Funcion que comprueba si el examen es Key y si lo es oculta el texto legal de la foto */
	function comprobar_foto() {
		examen = $('#id_exam').find(":selected").text();
		if (examen.match('Key')) {
		    console.log("No es obligatoria la foto porque es un examen Key"); 
		    $("#legal_foto").hide();
		    $("#legal_general").show();
		}
		else if (examen.match('FS')) {
		    console.log("No es obligatoria la foto porque es un examen FS"); 
		    $("#legal_foto").hide();
		    $("#legal_general").show();
		}
		else if (examen.match('YLE')) {
		    console.log("No es obligatoria la foto porque es un examen YLE"); 
		    $("#legal_foto").hide();
		    $("#legal_general").hide();
		}
		else if (examen.match('schools')){
		    console.log("No es obligatoria la foto porque es un examen for schools"); 
		    $("#legal_foto").hide();
		    $("#legal_general").show();
		
		}
		else {
		    console.log("Si es obligatoria la foto"); 
		    $("#legal_foto").show();
		    $("#legal_general").show();
		}
	    
	}
	function comprobar_condiciones() {
	    	comprobar_aceptacion();
		comprobar_menor();
		if (examen.match('YLE')) {
                    console.log("Es un examen YLE así que tiene que ser menor si o o si");
                    $("#legal_foto").hide();  
		    $("#id_minor").attr("checked",true)
                    $("#id_minor").prop('disabled', true);
		    $("#id_tutor_name").prop('disabled', false);
		    $("#id_tutor_surname").prop('disabled', false);
		    $("#send_form").prop('disabled', false);
		    $("#aviso_condiciones").hide();
                }
		else {
                    $("#legal_foto").show();  
		    $("#id_minor").attr("checked",false)
                    $("#id_minor").prop('disabled', false);
		    $("#id_tutor_name").prop('disabled', true);
		    $("#id_tutor_surname").prop('disabled', true);
		    $("#send_form").prop('disabled', true);
		    $("#aviso_condiciones").show();
                }
		comprobar_foto();
	}
	function comprobar_aceptacion() {
		console.log("Han hecho click en el check de las condiciones");
		//Comprobamos si es obligatoria la foto
		examen = $('#id_exam').find(":selected").text();
		if (examen.match('Key')) {
		    console.log("No es obligatoria la foto porque es un examen Key"); 
		    no_foto_obligatoria=true;
		}
		else if (examen.match('FS')) {
		    console.log("No es obligatoria la foto porque es un examen FS"); 
		    no_foto_obligatoria=true;
		}
		else {
		    console.log("Si es obligatoria la foto"); 
		    no_foto_obligatoria=false;
		}
                acepta = false ;
                if ($("#id_accept_conditions").is(":checked"))
		{
		    console.log("Condiciones generales aceptadas");
		    if ( $("#id_accept_photo_conditions").is(":checked") || no_foto_obligatoria ) 
		    {
			acepta = true;
		    }
		}
		if (acepta) {
		    console.log("Dice que las acepta");
		    $("#send_form").prop('disabled', false);
		    console.log("Ocultamos el aviso");
		    $("#aviso_condiciones").hide();
		}
                else {
		    //Deshabilitamos el envio hasta que acepten las condiciones
                    console.log("Dice que NO las acepta");
                    $("#send_form").prop('disabled', true);
		    console.log("Mostramos el aviso");
		    $("#aviso_condiciones").show();
                }
            }
	function comprobar_menor() {
                console.log("Han hecho click en el check de menor");
                if ($("#id_minor").is(":checked")) {
                    console.log("Dice que es menor");
		    $("#id_tutor_name").prop('disabled', false);
		    $("#id_tutor_surname").prop('disabled', false);
		    
                }
                else {
		    //Deshabilitamos el envio hasta que acepten las condiciones
                    console.log("Dice que NO es menor");
		    $("#id_tutor_name").prop('disabled', true);
		    $("#id_tutor_surname").prop('disabled', true);
                    
                }
            }
        $(document).ready(function() {
	    //~ $("#id_birth_date").datepicker({format: "dd-mm-yyyy",weekStart: 1});

	    $("#normativa_general").hide();
	    $("#normativa_foto").hide();
        //Comprobamos si se puede enviar
	    comprobar_condiciones();
        $("#id_centre_name").prop('disabled', false);
        //Control de la aceptación de las condiciones:
	    $("#id_exam").change(comprobar_condiciones);
        $("#id_accept_conditions").change(comprobar_aceptacion);
	    $("#id_accept_photo_conditions").change(comprobar_aceptacion);
	    $("#id_minor").change(comprobar_menor);
            //Control del Centre Name 
            $("#id_eide_alumn").change(function() {
                console.log("Han hecho click en el check de alumno de eide");
                if ($("#id_eide_alumn").is(":checked")) {
                    console.log("Dice que es alumno de EIDE, desactivamos el input centrename");
                    $("#id_centre_name").prop('disabled', true);
                }
                else {
                    console.log("Dice que NO es alumno de EIDE, activamos el input centrename");
                    $("#id_centre_name").prop('disabled', false);
                }
            });            
        });
    </script>

    {{ form.media }}

{% endblock %}

{% block body %}

{% block cambridge_form_header %}{% endblock %}

<div class="alert-message block-message error">

<span class="label label-info"> {% trans "Atención!" %} </span>{% trans "La única forma de pago aceptada es <b>vía tarjeta de crédito/débito</b>" %}.<br />
<!-- <span class="label label-info"> {% trans "Atención!" %} </span>{% trans "Los exámenes serán presenciales y se realizarán en las <a href='http://www.eide.es/esl/EIDE/Donde-esta-EIDE'>instalaciones de EIDE</a> (Santurtzi, Bizkaia)." %} -->

</div>

<div class="alert-mesagge block-message alert">
<p>
{% blocktrans %}
Se le informa al interesado que conforme a lo previsto en el RGPD de 27 de abril de 2016 
    y la LO 3/2018, de 5 de diciembre (LOPDGDD) el Responsable de este tratamiento de datos 
    personales es Escuelas Internacionales para la Educación y el Desarrollo Eide, S.L., 
    (CIF: B48474647), Genaro Oraá Kalea, Santurce (48980, Bizkaia); Tel.: 944937005; 
    email: <a href="mailto://eide@eide.es">eide@eide.es</a>

    Las finalidades del tratamiento de datos versarán sobre la gestión genérica del examen 
    Cambridge English, incluyendo el proceso de matrícula y cobro de tasas, organización 
    de la sesión del examen, para comunicarnos con el candidato, o con sus representantes 
    legales debidamente acreditados a tal efecto sobre cuestiones relacionadas con el examen 
    contratado y/o facilitar condiciones especiales para la realización del examen, cuando 
    ello sea necesario. Dichos datos serán conservados durante el plazo mínimo necesario 
    establecido para la oportuna gestión y tramitación de la prueba.
    
    Dichos datos serán en su caso cedidos única y exclusivamente a los organismos competentes 
    encargados del proceso administrativo y de ejecución del examen, así como otros 
    supuestos establecidos en la ley.
    
    Podrá ejercitar los derechos de acceso, rectificación, supresión, limitación, portabilidad 
    y oposición dirigiéndose a Escuelas Internacionales para la Educación y el Desarrollo 
    Eide, S.L. con dirección en Genaro Oraá Kalea, Santurce (48980, Bizkaia), o enviando una 
    comunicación con referencia RGPD/LOPDGDD al email de contacto 
    <a href="mailto://eide@eide.es">eide@eide.es</a>.{% endblocktrans %}
    </p>
</div>

<div class="row">
    <div class="span14">
		
	{% block cambridge_form_action %}{% endblock %}

    {% blocktrans %}
	<p>En el siguiente desplegable, selecciona el nivel, tipo, formato y fecha de examen.</p>
	<ul>
	    <li>Niveles de Exámenes: <b>Key</b>: A2 – <b>Preliminary</b>: B1– <b>First</b>: First Certificate. B2. – <b>Advanced</b>: Advanced. C1. – <b>Proficiency</b>: Proficiency. C2.</li>
	    <li>Tipo de examen: Ordinario (no llevan ninguna sigla) - <b>FS</b>: For Schools, exámenes para menores de 18 - <b>YLE</b>: Exámenes Young Learners, para niños/as de primaria.</li>
	    <li>Formato: <b>CB</b>: Computer Based. Exámenes en ordenador – <b>PB</b>: Paper Based. Exámenes ordinarios en papel.</li>
	</ul>
	{% endblocktrans %}


	{{ form|bootstrap }}

    
    </div> 
</div>


<div id="legal_general" class="row">
    <div class="span14">
	{% include "cambridge/legal.html" %}
	<div>
        <input type="checkbox" id="id_accept_conditions" name="accept_conditions">
	    {%  trans "He leído y acepto las condiciones generales." %} 
        </div>
	
    </div> 
</div>
<hr />
<div id="legal_foto" class="row">
    <div class="span14">
	{% include "cambridge/legal_foto.html" %}

	<div>
	    <input type="checkbox" id="id_accept_photo_conditions" name="accept_photo_conditions">
	    {%  trans "Doy mi consentimiento expreso para que mi imagen pueda ser utilizada en la página Web o en redes sociales del centro así como en todo el material publicitario que pueda utilizar." %}
        </div>
    </div> 
</div>
<hr />

<div class="row">
    <div class="span12">    
	<div class="well" id="aviso_condiciones">
	    {% trans "<b>¡Atención!.</b> Todavía no has aceptado las condiciones. Si no aceptas las condiciones generales y las condiciones de la toma de foto no podrás enviar la matrícula." %}
	</div>
	<input id="send_form" class="btn btn-primary pull-right" type="submit" value="{% trans 'Enviar' %}" />
    </div> 
</div> 

{% endblock %}
