{% extends "site_base.html"%}
{% load i18n %}

{% block body %}
    <h1>{% trans "Prep. Center Detail" %}</h1>
<h2>Datos contacto</h2>
<table class="table">
<tr>
<td>{{ object.name }}</td>
<td>{{ object.description }}</td>
</tr>
<tr>
<td>{{ object.email }}</td>
<td>{{ object.telephone }}</td>
</tr>
<!--
<tr>
<td>
<form method="POST" action="{% url 'prepcenter_passwordreset' object.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning">
        <i class="zmdi zmdi-refresh" ></i>&nbsp;&nbsp;Resetear pass.
    </button>
</form>
</td>
</tr>
-->
</table>

{% if request.user.is_staff %}
<a class="btn btn-primary" href="{% url 'cambridge_prepcenters_update' object.pk %}">Editar</a>
{% endif %}

<a class="btn btn-primary" href="{% url 'cambridge_prepcenters_registration_new' object.id %}">Matricular Alumnos</a>
<a class="btn btn-primary" href="{% url 'cambridge_prepcenters_registrations_pays' %}">Pagar Matriculas Pendientes</a>
<h2>Lista de examenes</h2>
<table class="table">
{% for exam in object.exam_set.all %}
<tr>
<td>{{ exam }}</td>
<!--
<td><a href="{% url 'cambridge_prepcenters_registration_new' exam.id %}">Matricular</a></td>
-->
</tr>
{% endfor %}
</table>
{% if request.user.is_staff %}
<a class="btn btn-primary" href="{% url 'cambridge_prepcenters_exam_new' %}">Añadir Examen</a>
{% endif %}
<h2>Lista de matriculas</h2>
<table class="table">
{% for registration in object.registration_set.all %}
<tr>
<td>{{ registration }}</td><td> {{ registration.paid | yesno }}</td>
</tr>
{% endfor %}
</table>




{% if request.user.is_staff %}
<a class="btn btn-primary" href="{% url 'cambridge_prepcenters_list' %}">Volver a la lista</a>
{% endif %}
{% endblock %}