<h2>Condiciones generales</h2>
<button type="button" class="btn btn-primary" onclick='$("#normativa_general").hide();'>Ocultar</button>
<button type="button" class="btn btn-primary" onclick='$("#normativa_general").show();'>Mostrar</button>
<div id="normativa_general" class="well well-small" style="text-align: justify; text-justify: newspape" >
<h3>1. NORMATIVA GENERAL</h3>
<p>
Para llevar a cabo una sesión de examen debe haber al menos un mínimo de <b>15 candidatos por nivel</b>. La tasa de inscripción es 
válida sólo para la convocatoria en la que se ha inscrito  y no es transferible a otro examen, a convocatorias posteriores 
ni a otro centro. Dichas tasas <b>NO</b> se devuelven al candidato en caso de que éste no se presente a parte o a ninguno de los 
exámenes. Una o dos semanas después del cierre de matrícula, se enviará el <b>Justificante de Inscripción</b> con la <b>fecha y hora 
del examen escrito y oral</b> a la dirección de e-mail que ha proporcionado el candidato en la hoja de matrícula. Si dos semanas 
antes de la fecha del examen escrito el candidato no ha recibido el justificante, es <b>su responsabilidad</b> el ponerse en contacto 
con <b>EIDE</b> y solicitarlo. <b>EIDE</b> no se responsabiliza del extravío o no recepción del mismo y no asume ninguna responsabilidad 
por cualquier problema derivado del desconocimiento de la fecha, horario y lugar del examen y se reserva el derecho de no 
admitir a candidatos que lleguen tarde. Es responsabilidad del candidato llegar al lugar del examen con <b>30 minutos de 
antelación</b>. Los candidatos deben traer un <b>DNI o pasaporte</b> en vigor que atestigüe su identidad en cada examen (escrito y oral). 
Se recomienda no traer <b>teléfono</b> móvil ni <b>reloj inteligente</b> ya que éstos se le retirarán durante toda la duración de la prueba. 
<b>EIDE</b> no se responsabiliza del robo o extravío del teléfono móvil o reloj que le sea retirado.
</p>

<h3>2. CANCELACIONES</h3>

<p>
Solo se admitirán cancelaciones de matrículas hasta la fecha tope de matrícula indicada en el reverso. El candidato 
recibirá la devolución de la tasa de examen descontándose la cantidad de 35 € en concepto de gastos de administración. 
Pasada esta fecha sólo se admitirán cancelaciones por causas médicas en cuyo caso el candidato deberá presentar 
un CERTIFICADO MÉDICO OFICIAL. En este caso también se procederá a realizar una devolución de la tasa de examen 
menos 35 € por gastos administrativos. No se admitirán certificados médicos pasados 15 días de la fecha del examen 
escrito. No se admitirá ningún  cambio o cancelación por otros motivos que no sean médicos después del último día de matrícula.
</p>

<h3>3. CANDIDATOS CON NECESIDADES ESPECIALES</h3>

<p>
En caso de que un candidato padezca alguna deficiencia/minusvalía (déficit auditivo, problemas de habla, etc.) y ésta le 
impida realizar los exámenes en igualdad de condiciones que el resto de candidatos, le informamos que deberá presentar un 
certificado médico oficial de su discapacidad/minusvalía en el momento de matricularse, al menos un mes antes del cierre 
de matrícula. Ese certificado será enviado a Cambridge English para que decida las condiciones en las que ese candidato 
debe realizar los exámenes. EIDE no podrá realizar ninguna gestión para la modificación de los exámenes de los candidatos 
que no informen de su discapacidad con la suficiente antelación.
</p>

<h3>4. RESULTADOS</h3>

<p>
La fecha de publicación de resultados aparece en el justificante de inscripción que recibirá el candidato por email. 
Esta fecha es estimativa y no es contractualmente vinculante. Si algún candidato no está conforme con su resultado, 
podrá solicitar una revisión en EIDE siendo necesario seguir el procedimiento establecido por Cambridge English: 
<b>Fase 1:</b> Comprobación de errores de calificación; <b>Fase 2</b>: Recalificación de las pruebas escritas. Son de aplicación 
<b>tasas administrativas en</b> ambas fases. Los candidatos no podrán revisar sus exámenes físicamente ya que éstos permanecen bajo 
propiedad intelectual de Cambridge English. Cambridge English <b>NO</b> facilita ningún informe detallado de cada una de las 
partes en las que consiste el examen y nunca dará más información en la competencia de un candidato de la que aparece 
en el “Statement of Results”. Cambridge English se reserva el derecho de privar de calificaciones a aquellos candidatos 
en quienes se haya observado conductas fraudulentas o que se hayan negado a ser fotografiados el día del examen.
<p>

<h3>5. LOS CERTIFICADOS</h3>

<p>
Los certificados se enviarán al centro escolar un mes después de la publicación de resultados.
</p>

<h3>6. PROTECCIÓN DE DATOS</h3>

<p>
    Se le informa al interesado que conforme a lo previsto en el RGPD de 27 de abril de 2016 
    y la LO 3/2018, de 5 de diciembre (LOPDGDD) el Responsable de este tratamiento de datos 
    personales es Escuelas Internacionales para la Educación y el Desarrollo Eide, S.L., 
    (CIF: B48474647), Genaro Oraá Kalea, Santurce (48980, Bizkaia); Tel.: 944937005; 
    email: <a href="mailto://eide@eide.es">eide@eide.es</a>

    Las finalidades del tratamiento de datos versarán sobre la gestión genérica del examen 
    Cambridge English, incluyendo el proceso de matrícula y cobro de tasas, organización 
    de la sesión del examen, para comunicarnos con el candidato, o con sus representantes 
    legales debidamente acreditados a tal efecto sobre cuestiones relacionadas con el examen 
    contratado y/o facilitar condiciones especiales para la realización del examen, cuando 
    ello sea necesario. Dichos datos serán conservados durante el plazo mínimo necesario 
    establecido para la oportuna gestión y tramitación de la prueba.
    
    Dichos datos serán en su caso cedidos única y exclusivamente a los organismos competentes 
    encargados del proceso administrativo y de ejecución del examen, así como otros 
    supuestos establecidos en la ley.
    
    Podrá ejercitar los derechos de acceso, rectificación, supresión, limitación, portabilidad 
    y oposición dirigiéndose a Escuelas Internacionales para la Educación y el Desarrollo 
    Eide, S.L. con dirección en Genaro Oraá Kalea, Santurce (48980, Bizkaia), o enviando una 
    comunicación con referencia RGPD/LOPDGDD al email de contacto 
    <a href="mailto://eide@eide.es">eide@eide.es</a>.</p>
</div>
