{% extends "site_base.html"%}
{% load i18n %}

{% block body %}
  <script>
  $(document).ready(function() {
	  $("#id_exam_date").datepicker({format: "dd-mm-yyyy",weekStart: 1});
	  $("#id_registration_end_date").datepicker({format: "dd-mm-yyyy",weekStart: 1});
  });
  </script>

    <h1>{% trans "Exam " %}{{object}}</h1>

	<form class="form-horizontal" action="{% url 'cambridge_venues_exam_new' %}" method="post">{% csrf_token %}
	    {% load bootstrap %}
	    {{ form|bootstrap }}
	    <input class="submit btn-form" type="submit" value="{% trans 'Save' %}" />
	    <a class="btn" href="{% url 'cambridge_venues_exam_list' %}">{% trans "Cancel" %}</a>
	</form>
{% endblock %}
