{% extends "site_base.html"%}
{% load i18n %}

{% block page_header %}


<h1>
{% trans "Lista Cursos" %}
<a class="btn btn-primary pull-right" href="{% url 'curso_nuevo' %}">Nuevo curso</a>
</h1>
{% include "pagination/pagination.html" %} 
{% endblock %}

{% block body %}

<table class="table">
	<thead>
		<th>Name</th><th>Price</th><th>Registration Form</th><th>Regist. Number</th>
	</thead>
	{% for curso in object_list %}
	<tr>
		<td><a href="/admin/matriculas/curso/{{curso.id}}/change/"><i class="zmdi zmdi-edit"></i></a> {{curso.name}}</td>
		<td>{{curso.price}}</td>
		<td><a href="https://portal-alumno.eide.es/matriculas/curso/nueva/{{curso.id }}/">URL Matricula</a></td>
		<td>{{curso.registration_count}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
