{% extends "site_base.html"%}
{% load bootstrap_tags %}
{% load i18n %}
{% block extra_header %}
<h1>{% trans "Lista Matriculas a Cursos" %}</h1>
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <th>ID</th><th>Quien</th><th>Curso</th><th>Cuando</th>
            <th>Pagada</th><th>Gestionada</th><th>Url Pago</th>
        </thead>
        <tbody>
            {% for matricula in object_list %}
            <tr>
                <td><a href="{% url 'matricula_eide_editar' matricula.id %}">{{ matricula.id }}</a></td>
                <td>{{ matricula.apellido1 }} {{ matricula.apellido1 }}, {{ matricula.nombre }}</td>
                <td>{{ matricula.get_ccurso_display }}</td>
                <td>{{ matricula.fecha_matricula }}</td>
                <td>{{ matricula.pagada | yesno }}</td>
                <td>{{ matricula.gestionada | yesno }}</td>
                <td><a href="https://portal-alumno.eide.es{{ matricula.generate_payment_url }}">Pagar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}