{% extends "site_base.html"%}
{% load crispy_forms_tags %}
{% load i18n %}
{% block extra_header %}
<h1>{% trans "Lista Matriculas" %}</h1>
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Quien</th>
            <th>Centro</th>
            <th>Tipo</th>
            <th>Fecha propuesta</th>
            <th>Fecha matrícula</th>
            <th>Pagada</th>
            <th>Url Pago</th>
        </thead>
        <tbody>
            {% for matricula in object_list %}
            <tr>
                <td><a href="{% url 'matricula_linguaskill_editar' matricula.id %}">{{ matricula.id }}</a></td>
                <td>{{ matricula.surname }} , {{ matricula.name }}</td>
                <td>{{ matricula.level.venue }}</td>
                <td>{{ matricula.level.name }}</td>
                <td>{{ matricula.proposed_date}}</td>
                <td>{{ matricula.registration_date }}</td>
                <td>{{ matricula.paid | yesno }}</td>
                <td><a href="https://portal-alumno.eide.es{{ matricula.generate_payment_url }}">Pagar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}