{% extends "public_base.html"%}
{% load bootstrap_tags %}
{% load i18n %}

{% block body %}
<h1>{% trans "Nueva Matricula para" %} {{ curso.name }}</h1>
<form action="" method="post">{% csrf_token %}
  {{ form|as_bootstrap }}
    {% if curso %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>1. NORMATIVA CURSO</h3>

            {{ curso.condiciones|safe }}
            </div>
    </div>
    {% endif %}
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>2. NORMATIVA GENERAL</h3>
      
    </div>
  </div>

  <br />
  <div class="form-actions">
    
  <button id="send_button"  type="submit" class="btn btn-primary">Realizar Matrícula</button>
</div>
</form>
{% endblock %}

{% block extra_body %}
<script>
  function comprobar_aceptacion() {
    console.log("Han hecho click en el check de las condiciones");
    acepta = false ;
    if ($("#id_accept_conditions").is(":checked"))
    {
      console.log("Condiciones generales aceptadas");
      acepta = true;  
    }

    if (acepta) {
        console.log("Dice que las acepta");
        $("#send_button").prop('disabled', false);
        console.log("Ocultamos el aviso");
        $("#aviso_condiciones").hide();
    }
    else {
      //Deshabilitamos el envio hasta que acepten las condiciones
      console.log("Dice que NO las acepta");
      $("#send_button").prop('disabled', true);
      console.log("Mostramos el aviso");
      $("#aviso_condiciones").show();
    }
  }

  $(document).ready(function() {
    $("#normativa_general").hide();
    $("#normativa_foto").hide();
    //Comprobamos si se puede enviar
    comprobar_aceptacion();
    $("#id_accept_conditions").change(comprobar_aceptacion);
    });
</script>
{% endblock %}