{% extends "public_base.html"%}
{% load bootstrap_tags %}
{% load i18n %}

{% block body %}

<h1>Pago de la matrícula {{matricula}}</h1>

<div class="well">
    Acaba de realizar una solicitud de matrícula para EIDE<br />
    La matrícula se hará efectiva una vez se haya recibido el pago de {{ precio }}€.

	{% if debug %}
	    {{ form.sandbox }}
	{% else %}
	    {{ form.render }}
        <h3>Form final </h3>
	{% endif %}
</div>
<div class="well">
    <h1>DATOS DE CONTACTO</h1>
    <ul>
        <li>Mail: <a href="mailto:eide@eide.es">eide@eide.es</a></li>
        <li>Tel: 94 493 70 05</li>
        <li>Fax: 94 461 57 23</li>
        <li>Dirección: Genaro Oraá 6 - 48980 Santurtzi</li>
    </ul>
</div>

{% endblock %}