{% extends "site_base.html"%}
{% load bootstrap_tags %}
{% load i18n %}

{% block body %}
    
  
<div class="jumbotron">
  <h1 class="display-4" >CONFIRMACIÓN ASISTENCIA Y HORARIO CURSO {{ object.asistencia.year }}</h1>
  <p class="lead" > 
  Le informamos del horario que tenemos previsto para el/la alumno/a  
  {{ object.asistencia.alumno.nombre }}  {{ object.asistencia.alumno.appelido1 }} 
  {{ object.asistencia.alumno.appelido1 }} de cara al curso {{ object.asistencia.year }}. 
  <b>DEBAJO DE LA TABLA DE HORARIOS TIENE UN DESPLEGABLE PARA DAR SU RESPUESTA.</b> 
  ¡¡POR FAVOR, INDIQUE SU RESPUESTA A TRAVÉS DE ESE DESPLEGABLE, NO POR MAIL!!
  </p>
 

<h1 class="display-3" >ACADEMIA: {{ object.asistencia.grupo.centro }} GRUPO: {{ object.asistencia.grupo }}</h1>
    
  <p>El horario es el siguiente</p>
  <table class="table">
    <tr>
      <th>Día</th>
      <th>Hora</th>
    </tr>
    {% for clase in object.asistencia.grupo.clases.all %}
    <tr>
      <td>{{ clase.get_dia_semana_display }}</td>
      <td>{{ clase.hora_inicio }} - {{ clase.hora_fin }}</td>
    </tr>
    {% endfor %}
  </table>
  <p class="lead">
    <form action="" method="post">{% csrf_token %}
      {{ form|as_bootstrap }}
      <br />
      <div class="form-actions">

      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    </form>
  </p>
</div>
{% endblock %}
