{% extends "site_base.html"%}

{% load i18n %}

{% block page_header %}

{% include "pagination/pagination.html" %} 
Viendo <b>{{ page_obj.start_index }}</b>-<b>{{ page_obj.end_index }}</b> confirmaciones del año {{ year }}.
<a href="{% url 'confirmaciones_crear' %}" class="btn btn-primary pull-right">Enviar Confirmaciones</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <h4>Listado de respuestas</h4>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
		    <th>Centro</th>
		    <th>Grupo</th>
                    <th>Fecha</th>
                    <th>Respuesta</th>    
                    <th>Razones</th>      
                    <th>Aciones</th>          
                </tr>
            </thead>
            <tbody>
                {% for confirmacion in object_list %}
                <tr>
                    <td>
			<a href="{% url 'alumno_detalle' confirmacion.asistencia.alumno.id %}" >
				{{ confirmacion.asistencia.alumno }}
			</a>
		    </td>
		    <td>{{ confirmacion.asistencia.alumno.telefono1 }}</td>
		    <td>{{ confirmacion.asistencia.grupo.centro }}</td>
		    <td>{{ confirmacion.asistencia.grupo }}</td>
                    <td>{{ confirmacion.fecha_respuesta }}</td>
                    <td>{{ confirmacion.get_respuesta_choice_display }} </td>
                    <td>{{ confirmacion.respuesta_texto }}</td>
                    <td><a href="{% url 'confirmacion_editar' confirmacion.id %}">Editar</a></td>
                </tr>
                {%  endfor %}
             </tbody>
	 </table>
    </div>
	
</div>
{% endblock %}
