{% extends "site_base.html"%}

{% load i18n %}

{% block page_header %}

{% include "pagination/pagination.html" %} 
Viendo <b>{{ page_obj.start_index }}</b>-<b>{{ page_obj.end_index }}</b> consultas.
<a class="btn btn-primary pull-right" href="{% url 'consulta_nueva' %}">Nueva Consulta</a>

{% endblock %}



{% block body %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <h4>Listado de cconsultas</h4>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Grupo</th>
                    <th>Fecha</th>
                    <th>Respuestas</th>                    
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for consulta in object_list %}
            <tr>

                <td><a href="{{consulta.get_absolute_url}}">{{ consulta.nombre }}</a></td>
                <td>{{ consulta.grupo }}</td>
                <td>{{ consulta.fecha_creacion }}</td>
                <td><a href="{% url 'confirmacion_lista' consulta.id %}">{{ consulta.confirmacion_set.count }}</a></td>
		        <td>
                    <a class="btn btn-primary" href="{% url 'consulta_enviar' consulta.id %}"><i class="zmdi zmdi-mail-send"></i></a>
                    <a class="btn btn-warning" href="{% url 'consulta_borrar' consulta.id %}"><i class="zmdi zmdi-delete"></i></a>
                </td>
             </tr>
             {%  endfor %}
             </tbody>
	 </table>
    </div>
	
</div>
{% endblock %}
