{% extends "site_base.html"%}
{% load url from future %}
{% load i18n %}

{% block body %}


<div class="row">
    <div class="col-md-10 col-xs-12">
        <h4>Listado de profesors</h4>
        <table class="table">
            <thead>
                <tr>
                <td>Nombre</td>
                <td>Email</td>
                <td>Telefono</td>
                <td>H. Pendientes</td>
                <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
            {% for profesor in object_list %}
            <tr>

                <td><a href="{{profesor.get_absolute_url}}">{{ profesor.user.username }}</a></td>
                <td>{{ profesor.user.email }}</td>
                <td>{{ profesor.telefono }}</td>
                <td>{{ profesor.get_horas_pendientes }}</td>
                <td>
                    <a href="{% url 'profesor_detalle' profesor.id %}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{% url 'profesor_editar' profesor.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'profesor_borrar' profesor.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    <h4>Acciones</h4>
    <a href="{% url 'profesor_nuevo' %}"><button>Nuevo</button></a>
    </div>
</div>
{% endblock %}
