{% extends "site_base.html"%}
{% load i18n %}

{% block body %}
<h2>Bienvenido {{ profesor.nombre }}</h2>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <h4>Pasar lista</h4>
        <ul>
        {% for grupo in profesor.grupos %}
        <li><a href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id mes %}">{{ grupo }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-4 col-xs-12">
        <h4>Archivos</h4>
    </div>
    <div class="col-md-4 col-xs-12">
        <h4>Mensajes</h4>
        <ul>
            {% for mensaje in request.session.unread_messages %}
            <li>
                <div class="list-group-item-heading">{{ mensaje.creador }} <small>{{ mensaje.fecha_creacion }}</small></div>
                    <small class="list-group-item-text c-gray">{{ mensaje.titulo }}</small>
                </div>
            </li>
            {% endfor %}
            <a class="view-more" href="{% url 'mensajes' %}">View more</a>
        </ul>

    </div>
    </div>
    <h2>Clases</h2>
    <div class="row">
        <div class="col-md-12">
            {% include "profesores/profesor_tabla_clases.html" %}
        </div>
    </div>
{% endblock %}