{% extends "site_base.html"%}

{% load i18n %}

{% block page_header %}
    <h1>{% trans "Profesor" %} {{profesor.nombre}}
    <a class="pull-right" href="{% url 'profesor_editar' profesor.id %}"><i class="zmdi zmdi-edit"></i>Editar</a>
    </h1>
{% endblock %}

{% block body %}

<h2>Detalles</h2>
    
    <table class="table">
        <tr>
            <td>Nombre</td><td>{{profesor.nombre}}</td>
        </tr>
        <tr>
            <td>Apellido(s)</td><td>{{profesor.apellido}}</td>
        </tr>
        <tr>
            <td>Teléfono</td><td>{{profesor.telefono}}</td>
        </tr>
        <tr>
            <td>E-mail</td><td><a href="mailto:{{profesor.email}}">{{profesor.email}}</a></td>
        </tr>
        <tr>
            <td>Usuario</td>
            <td>
                {% if profesor.has_user %} 
                    {{ profesor.user }} (activo: {{ profesor.user.is_active | yesno }})
                    {% if profesor.user.is_active %}
                    <td>
                    <form method="POST" action="{% url 'profesor_passwordreset' profesor.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning"><i class="zmdi zmdi-refresh" ></i>&nbsp;&nbsp;Resetear pass.</button>
                    </form>
                    </td>
                    <td>
                    <form method="POST" action="{% url 'profesor_disableuser' profesor.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-account-o" ></i>&nbsp;&nbsp;Disable</button>
                    </form>
                    </td>
                    {% else %}
                    <td>
                    <form method="POST" action="{% url 'profesor_enableuser' profesor.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info"><i class="zmdi zmdi-account-o" ></i>&nbsp;&nbsp;Enable</button>
                    </form>
                    </td>
                    {% endif %}
                {% else %} 
                    <form method="POST" action="{% url 'profesor_createuser' profesor.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" > <i class="zmdi zmdi-account-add" ></i>&nbsp;&nbsp;Crear</button>
                    </form>
                {% endif %}
            </td>
        </tr>
    </table>
    <h2>Clases</h2>
    
{% include "profesores/profesor_tabla_clases.html" %}



{% endblock %}
