<table class="table table-bordered table-condensed">
    <thead>
        <th>Hora</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </thead>
    <tbody>
        {% for hora in profesor.programacion_semana %}
        <tr>
            <td><b>{{hora.0}}</b></td>
            <td>{{hora.1}}</td>
            <td>{{hora.2}}</td>
            <td>{{hora.3}}</td>
            <td>{{hora.4}}</td>
            <td>{{hora.5}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
