{% extends "site_base.html"%}
{% load i18n %}
{% block page_header %}

{% include "pagination/pagination.html" %}
Viendo <b>{{ page_obj.start_index }}</b>-<b>{{ page_obj.end_index }}</b> grupos.
    <a class="btn btn-primary pull-right" href="{% url 'libro_nuevo' %}">Nuevo</a>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <h4>Listado de Libros</h4>
     
        <table class="table">
            <thead>
                <tr>
                <td>ID</td>
                <td>Título</td>
                <td>Autor</td>
                <td>ISBN</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'libro_borrar' curso.id %}"><i class="zmdi zmdi-delete"></i></a>
                </td>
                </tr>
            </thead>
            <tbody>
            {% for libro in object_list %}
            <tr>
				<td><a href="{% url 'libro_editar' libro.id %}">{{libro.id}}</a></td>
				<td>{{libro.titulo}}</td>
				<td>{{libro.autor}}</td>
				<td>{{libro.isbn}}</td>
                <td></td>
			 </tr>
			 {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
