{% extends "site_base.html"%}
{% load url from future %}
{% load i18n %}

{% block body %}


<div class="row">
    <div class="col-md-10 col-xs-12">
        <h4>Listado de cursos</h4>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Exámen</th>
                    <th>Nivel</th>
					<th>Nota Apobado</th>
					<th>Sólo examen final</th>
                    <th>Libros</th>
                </tr>
            </thead>
            <tbody>
            {% for curso in object_list %}
            <tr>

                <td><a href="{{curso.get_absolute_url}}">{{ curso.nombre }}</a></td>
                <td>{{curso.precio}}€</td>
                <td>{{curso.examen}}</td>
                <td>{{curso.nivel}}</td>
                <td>{{curso.nota_aprobado}}</td>
                <td>{{curso.solo_examen_final}}</td>
                <td>
					{% for libro in curso.libros.all %}
						<a href="{{libro.get_absolute_url}}">{{libro}}</a><br />
					{% endfor  %}
                </td>
             </tr>
             {%  endfor %}
             </tbody>
		 </table>
	</div>
	<div class="col-md-2">
		<h4>Acciones</h4>
		<a href="{% url 'curso_nuevo' %}"><button>Nuevo</button></a>
    </div>
</div>
{% endblock %}
