{% extends "site_base.html"%}
{% load bootstrap_tags %}
{% load i18n %}

{% block extra_script %}
<!-- para el datepicker -->
{{ form.media }}
<script>
    $(function() {
        $("#id_inicio_picker").datetimepicker({"pickTime": false, "weekStart": 1, "language": "es-es", "format": "YYYY-MM-DD"});
        $("#id_fin_picker").datetimepicker({"pickTime": false, "weekStart": 1, "language": "es-es", "format": "YYYY-MM-DD"});
    });
</script>
{% endblock %}

{% block body %}

    <h1>{% trans "Nuevo Curso" %}</h1>

    <form action="{% url 'curso_nuevo' %}" method="post">{% csrf_token %}
      {{ form|as_bootstrap }}
      <br />
      <div class="form-actions">
      <a href="{% url 'cursos_lista' %}" class="btn">Cancelar</a>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    </form>
{% endblock %}
