<h2>Condiciones para la foto</h2>
<div class"well">Solo para exámenes FCE, CAE y CPE</div>
<button type="button" class="btn btn-primary" onclick='$("#normativa_foto").hide();'>Ocultar</button>
<button type="button" class="btn btn-primary" onclick='$("#normativa_foto").show();'>Mostrar</button>
<div id="normativa_foto" class="well well-small" style="text-align: justify; text-justify: newspape" >

<h3>Para mayores de edad</h3>

<p>Al hacer click en la casilla <b>"Acepto las conficiones de la foto."</b>, autorizo a EIDE a que el día del examen oral o del examen escrito 
tome mi fotografía y la envíe a la universidad de Cambridge. Accedo a que la Universidad de Cambridge 
incorpore esta fotografía  a su página web “Results Verification” y que esté disponible para aquellas 
organizaciones y/o individuos a quien yo autorice a ver mis resultados.</p>

<h3>Para menores de edad</h3>

<p>Al hacer click en la casilla<b>"Acepto las conficiones de la foto."</b>, autorizo a EIDE como madre, padre o tutor legal del candidato menor 
de edad, a que el día del examen oral o del examen escrito tome la fotografía del candidato y la envíe 
a la universidad de Cambridge. Accedo a que la Universidad de Cambridge incorpore esta fotografía  a su 
página web “Results Verification” y que esté disponible para aquellas organizaciones y/o individuos a 
quien yo autorice a ver los resultados del candidato.<p>

</div>
