<h2>Condiciones generales</h2>
<button type="button" class="btn btn-primary" onclick='$("#normativa_general").hide();'>Ocultar</button>
<button type="button" class="btn btn-primary" onclick='$("#normativa_general").show();'>Mostrar</button>
<div id="normativa_general" class="well well-small" style="text-align: justify; text-justify: newspape" >
<h3>1. NORMATIVA GENERAL</h3>

<p>
    Todos los candidatos deberán cumplimentar el impreso de matrícula y realizar el pago de 
    la tasa de examen a la hora de matricularse. Una vez realizada la matrícula, EIDE 
    contactará con el candidato para confirmarle la fecha y hora del examen.  Es 
    responsabilidad del candidato llegar al lugar del examen con <b>30 minutos de antelación</b>. 
    Los candidatos deben traer un <b>DNI o pasaporte</b> en vigor que atestigüe su identidad. Se 
    recomienda no traer <b>teléfono móvil</b> ni <b>reloj inteligente</b> ya que éstos se le retirarán 
    durante toda la duración de la prueba. EIDE no se responsabiliza del robo o extravío 
    del teléfono móvil o reloj que le sea retirado.
</p>

<h3>2. CANCELACIONES Y CAMBIOS DE FECHA</h3>

<p>
    No se admiten cancelaciones una vez pagada la tasa de examen. Se admiten cambios de 
    fecha de examen sin coste alguno siempre y cuando se haga 24 horas antes de la fecha 
    acordada. Pasadas las 24 horas no se admitirán cambios.
</p>

<h3>3. RESULTADOS</h3>

<p>
    Los resultados del Reading & Listening son inmediatos. Los del Writing están disponibles 
    en un máximo de 12 horas y los del Speaking en un máximo de 48 horas. En caso de realizar 
    los 4 módulos, los resultados se proporcionan en un máximo de 48 horas por medio de un 
    informe generado por ordenador, por lo que no hay que esperar a certificados impresos.
</p>

<h3>4. PROTECCIÓN DE DATOS</h3>

<p>
    Se le informa al interesado que conforme a lo previsto en el RGPD de 27 de abril de 2016 
    y la LO 3/2018, de 5 de diciembre (LOPDGDD) el Responsable de este tratamiento de datos 
    personales es Escuelas Internacionales para la Educación y el Desarrollo Eide, S.L., 
    (CIF: B48474647), Genaro Oraá Kalea, Santurce (48980, Bizkaia); Tel.: 944937005; 
    email: <a href="mailto://eide@eide.es">eide@eide.es</a>

    Las finalidades del tratamiento de datos versarán sobre la gestión genérica del examen 
    Cambridge English, incluyendo el proceso de matrícula y cobro de tasas, organización 
    de la sesión del examen, para comunicarnos con el candidato, o con sus representantes 
    legales debidamente acreditados a tal efecto sobre cuestiones relacionadas con el examen 
    contratado y/o facilitar condiciones especiales para la realización del examen, cuando 
    ello sea necesario. Dichos datos serán conservados durante el plazo mínimo necesario 
    establecido para la oportuna gestión y tramitación de la prueba.
    
    Dichos datos serán en su caso cedidos única y exclusivamente a los organismos competentes 
    encargados del proceso administrativo y de ejecución del examen, así como otros 
    supuestos establecidos en la ley.
    
    Podrá ejercitar los derechos de acceso, rectificación, supresión, limitación, portabilidad 
    y oposición dirigiéndose a Escuelas Internacionales para la Educación y el Desarrollo 
    Eide, S.L. con dirección en Genaro Oraá Kalea, Santurce (48980, Bizkaia), o enviando una 
    comunicación con referencia RGPD/LOPDGDD al email de contacto 
    <a href="mailto://eide@eide.es">eide@eide.es</a>.
</p>

</div>
