{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Evaluacion{% endblock %}

{% block page_header %}
Evaluación
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-7" >
        <h3>Faltas</h3>
        <table class="table table-hover">
            <thead>
                <th>Grupo</th>
                {% for mes in meses %}
                <th>{{ mes }}</th>
                {% endfor %}
            </thead>
            <tbody>
				{% for grupo in object_list %}
				<tr>
					<td>{{grupo.nombre}}</td>
					{% for mes in meses %}
					<td><a class="glyphicon glyphicon-list-alt" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id mes %}"></a></td>
					{% endfor %}
					
				</tr>
			    {% if forloop.counter|divisibleby:"10" %}
                     <thead>
                        <th>Grupo</th>
                        {% for mes in meses %}
                        <th>{{ mes }}</th>
                        {% endfor %}
                      </thead>
				{% endif %}
				{% endfor %}

            </tbody>
        </table>
    </div>
    
    <div class="col-lg-5" >
        <h3>Notas</h3>
        <table class="table table-hover">
            <thead>
                <th>Grupo</th><th>Trim. 1</th><th>Trim. 3</th><th>Trim. 3</th>
            </thead>
            <tbody>
				{% for grupo in object_list %}
				<tr>
					<td>{{grupo.nombre}}</td>
					<td><a class="glyphicon glyphicon-list-alt" href="{% url 'notas_grupo' grupo.id 1 %}"></a></td>
					<td><a class="glyphicon glyphicon-list-alt" href="{% url 'notas_grupo' grupo.id 2 %}"></a></td>
					<td><a class="glyphicon glyphicon-list-alt" href="{% url 'notas_grupo' grupo.id 3 %}"></a></td>
				</tr>
                {% if forloop.counter|divisibleby:"10" %}
                    <thead>
                        <th>Grupo</th><th>Trim. 1</th><th>Trim. 3</th><th>Trim. 3</th>
                    </thead>
				{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
