{% extends "site_base.html" %}

{% load i18n %}
{% load evaluacion_extra_tags %}

{% block head_title %}
Pasar lista {{ grupo.nombre }} del mes {{ mes }}

{% endblock %}

{% block page_header %}
Pasar lista {{ grupo.nombre }} del mes {{ mes }}
{% endblock %}


{% block body %}

<table class="table">
	<thead>
		<tr>
			<th>Alumno</th>
	        {% for dia in dias_clase %}
        	<th colspan="3">Dia {{dia}}<br /> P/F/J</th>
        	{% endfor %}
		</tr>
	</thead>
	<tbody>    
	{% for asistencia in object.asistencia_set.all %}
	    <tr>
		<td>{{ asistencia.alumno }}</td>                
		{% for dia in dias_clase %}
		<td class="alert alert-success">
		    <input id="{{asistencia.id}}_{{dia}}_presente" {% presente_checked asistencia.id mes dia %} 
			onclick="on_checkbox_click({{asistencia.id}},{{dia}},'presente')" 
			type="checkbox"> </input>
		</td>
		<td class="alert alert-danger">
		    <input id="{{asistencia.id}}_{{dia}}_falta" {% falta_checked asistencia.id mes dia %}
			onclick="on_checkbox_click({{asistencia.id}},{{dia}},'falta')" 
			type="checkbox"> </input>
		</td>
		<td class="alert alert-warning" style="border-right: thick double black;">
		    <input id="{{asistencia.id}}_{{dia}}_justificada" {% justificada_checked asistencia.id mes dia %}
			onclick="on_checkbox_click({{asistencia.id}},{{dia}},'justificada')" type="checkbox"> </input>
		</td>
		{% endfor %}                
	    </tr>

        {% if forloop.counter == 5 or forloop.counter == 10 %}
		<tr>
			<th></th>
	        {% for dia in dias_clase %}
        	<th colspan="3">Dia {{dia}}<br /> P/F/J</th>
        	{% endfor %}
		</tr>
        {% endif %}
	{% endfor %}
</tbody>
</table>
<div class="alert alert-info">
<b>P</b>: Presente<br />
<b>F</b>: Falta<br />
<b>J</b>: Justificada<br />
</div>
{% endblock %}

{% block scripts %}
<script>

function on_checkbox_click(asistencia,dia,tipo)
{
    console.log("Creando "+tipo+" para el día: "+dia+" y el aistencia "+asistencia);
    $('body').addClass('wait');
    input = $("#"+asistencia+"_"+dia+"_"+tipo)[0];
    //FIXME esto es muy guarro :P
    if (tipo=="falta") {
        otro_input_1_tipo="justificada";
        otro_input_2_tipo="presente";

    } else if (tipo=="justificada")
    {
        otro_input_1_tipo="falta";
        otro_input_2_tipo="presente";

    } else {
        otro_input_1_tipo="falta";
        otro_input_2_tipo="justificada";
    }
    otro_input_1=$("#"+asistencia+"_"+dia+"_"+otro_input_1_tipo)[0];
    otro_input_2=$("#"+asistencia+"_"+dia+"_"+otro_input_2_tipo)[0];
    console.log(otro_input_1);
    console.log(otro_input_2);
    console.log("Tenemos el name",input.name);
    if (input.checked) {
        console.log("Creamos "+tipo);
        $.ajax({
                url : "/evaluacion/"+tipo+"/nueva/",
                type : "POST", 
                data : { asistencia: asistencia,
                        dia: dia,
                        mes: {{mes}},
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success : function(json) {
                        console.log("success"); // another sanity check
                        console.log(json); // log the returned json to the console
                        input.name=json.pk;
                        otro_input_1.disabled=true;
                        otro_input_2.disabled=true;
                        $('body').removeClass('wait');

                },
                
                error : function(xhr,errmsg,err) {
                    console.log("ERROR",errmsg,err);
                    //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    input.checked=false;
                    $('body').removeClass('wait');
                }
        });
    } else {
        elemento_id = input.name.replace(/'/g,"");
        console.log("Eliminamos como presente ");
        deleteUrl = "/evaluacion/"+tipo+"/"+elemento_id+"/borrar/";
        console.log(deleteUrl);
        $.ajax({
                url : deleteUrl,
                type : "POST", 
                data : {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success : function(json) {
                        console.log("success"); // another sanity check
                        //console.log(json); // log the returned json to the console
                        otro_input_1.disabled=false;
                        otro_input_2.disabled=false;
                        $('body').removeClass('wait');
                },
                
                error : function(xhr,errmsg,err) {
                    console.log("ERROR",errmsg,err);
                    //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    input.checked = true;
                    $('body').removeClass('wait');
                }


        });    
    }
}

</script>

{% endblock %}
