{% extends "site_base.html" %}

{% load i18n %}
{% load evaluacion_extra_tags %}
{% load bootstrap %}

{% block head_title %}Faltas{% endblock %}

{% block page_header %}
    <h1>Notas grupo {{ grupo.nombre }} del trimestre {{ trimestre }} otro</h1>
{% endblock %}

{% block body %}

    {{ notas_formset.non_field_errors }}

<form role="form" method="post" action="{% url 'notas_grupo' grupo.id trimestre %}">
	{% csrf_token %}
    <div class="form-group">
		<a class="btn btn-secondary" href="{% url 'notas_grupo' grupo.prev_by_nombre trimestre %}">Anterior</a>
		<a class="btn" href="{% url 'notas_grupo' grupo.next_by_nombre trimestre %}">Siguiente</a>
    </div>
	{{ notas_formset.management_form }}
	<table class="table">
		<thead>
			<tr>
				<th>Alumno</th><th></th>
			</tr>
		</thead>
		<tbody>    
		{% for form in notas_formset %}
			<tr>
				{% comment %}  {{ form | bootstrap_inline }}<br /> {% endcomment %}
				{% with asistencia=asistencias|buscar:forloop.counter0 %}
				<td> {{ asistencia.alumno }} ({{ asistencia.id }}) </td>
				{% for field in form %}
					<td>{{ field.label }} {{ field }}  {{ field.errors }}</td>
				{% endfor %}
				{% endwith %}
			 </tr>
		{% endfor %}
		</tbody>
    </table>
    
    <div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
		<a class="btn btn-secondary" href="{% url 'notas_grupo' grupo.prev_by_nombre trimestre %}">Anterior</a>
		<a class="btn" href="{% url 'notas_grupo' grupo.next_by_nombre trimestre %}">Siguiente</a>
    </div>
</form>


{% endblock %}
