{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load evaluacion_extra_tags %}
{% block body %}

<div>
    <div style="float:left" >
        <img width="120px" height="75px" src='{% static "img/logo_eide_horizontal.png" %}' />
    </div>
    <div style="float:right;font-size: 150%;">
        <span style="text-align:right" >
            <b>
                {{ asistencia.alumno.nombre }}
                {{ asistencia.alumno.apellido1 }}
                {{ asistencia.alumno.apellido2 }}
            </b>
        </span><br />
        <span style="text-align:right" >
                {{ asistencia.alumno.direccion }}
        </span><br />
        <span style="text-align:right" >
                {{ asistencia.alumno.cp }}
                {{ asistencia.alumno.ciudad }}
        </span><br />
    </div>
</div>
<div style="clear:both"></div>

</div>
<div style="font-size: 150%;">
    <h1 style="text-align:center">BOLETÍN EVALUACIÓN</h1>
    <div>
        Período de la Evaluación: <b>Cuatrimestre: {{ cuatrimestre }}</b>
    </div>
    <div>
        Nombre del alumno: <b>{{asistencia.alumno.nombre}} {{asistencia.alumno.apellido1}} {{asistencia.alumno.apellido2}}</b>
    </div>
    <div>
    Grupo: <b>{{ asistencia.grupo }}</b>
    </div>
    <!--
    <div>
    Profesores: <b>{{ asistencia.grupo.get_profesores }}</b>
    </div>
    -->
<br />
</div>
    <h2 style="text-align:center">Exámenes de Vocabulario y Gramática</h2>
    <div style="text-align:center;width=100%">
    <table class="table">
        <thead>
            <th>&nbsp;</th>
            <th> Trimestre 1</th>
            <th> Trimestre 2 </th>
            <th> Trimestre 3 </th>
        </thead>
        <tbody>
        <tr>
            <td> Nota Media Trimestral &nbsp;&nbsp;</td>
            <td> {{ asistencia|notas_trimestre:1 }} </td>
            <td> {{ asistencia|notas_trimestre:2 }} </td>
            <td> {{ asistencia|notas_trimestre:3 }} </td>
        </tr>
        </tbody>
    </table>
    <div style="font-size: x-small">Las notas del primer y segundo trimestre son la media de los controles de gramática y vocabulario. Las notas del 3er trimestre la nota de gramática y vocabulario final.</div>
    </div>

{% if asistencia.grupo.curso.tipo_evaluacion > 1 %}
    <h2 style="text-align:center">Exámenes Cuatrimestrales</h2>
<div style="width=100%">
    {%  tabla_notas_cuatrimestre %}
</div>
{% endif %}
{% if asistencia.grupo.curso.tipo_evaluacion == 2 or asistencia.grupo.curso.tipo_evaluacion == 3 or asistencia.grupo.curso.tipo_evaluacion == 4 %}
<div style="font-size: x-small">* Nota de APTO: {{ asistencia.grupo.curso.nota_aprobado }}</div>
{% endif %}
<div style="width=100%,text-align:center">
    <h2 style="text-align:center">Observaciones del profesorado</h2>
    <br />
    <div style="text-align:center;width=100%;font-size:150%">
    {{  asistencia|observaciones_cuatrimestre:cuatrimestre }}
    </div>

</div>
<br />
   
    <div>
        <div style="text-align:center;width=100%">
            Genaro Oraá 6, 48980 Santurtzi –94 493 70 05 <br />
            Plaza Balleni 3 (Kabiezes) 48980 Santurtzi –946037112<br />
            www.eide.es – eide@eide.es <br />
        </div>
    </div>

{% endblock %}
