{% extends "site_base.html" %}

{% load i18n %}
{% load evaluacion_extra_tags %}
{% load bootstrap %}

{% block head_title %}Notas{% endblock %}

{% block body %}

<h1>Notas grupo {{ grupo.nombre }} del cuatrimestre {{ cuatrimestre }}</h1>

{{ notas_formset.non_field_errors }}

<form role="form" method="post" action="{% url 'notas_cuatrimestre_grupo' grupo.id cuatrimestre %}">
	{% csrf_token %}
	{{ notas_formset.management_form }}
	<table class="table">
		<thead>
			<tr>
				<th>Alumno</th>
                {% with notas_formset|first as form %}
                {% for field in form %}
                    {%  if field.label != "Id" %}
					<th>{{ field.label }}</th>
                    {% endif %}
				{% endfor %}
                {%  endwith %}
			</tr>
		</thead>
		<tbody>    
		{% for form in notas_formset %}
			<tr>
				{% comment %}  {{ form | bootstrap_inline }}<br /> {% endcomment %} 
				{% with asistencia=asistencias|buscar:forloop.counter0 %}
				    <td> {{ asistencia.alumno }} </td>
				    {% for field in form %}
                        {%  if field.label != "Id" %}
					    <td>{{ field }}  {{ field.errors }}</td>
                        {% endif %}
				    {% endfor %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
				{% endwith %}
			 </tr>
		{% endfor %}
		</tbody>
    </table>
    
    <div class="form-group">
	
		<button type="submit" class="btn btn-primary">Submit</button>
	
    </div>
</form>


{% endblock %}
