{% extends "site_base.html"%}
{% load bootstrap_tags %}
{% load evaluacion_extra_tags %}
{% load i18n %}

{% block page_header %}
    <h1>Nota {{ asistencia.alumno }} / {{ asistencia.grupo }} / {{ trimestre }} </h1>
{% endblock %}

{% block body %}
    <form action="" method="post">{% csrf_token %}

<div class="row">
    <div class="form-group">

        {% for field in form.fields %}
        <div class="col-xs-1">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% nota_input form field %}
        </div>
        {% endfor %}

    </div>
</div>

    
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
    
    </form>

{% endblock %}
