{% load staticfiles %}
                <li class="dropdown hidden-xs">
                    <a href="" data-toggle="dropdown" class="hi-events">
                        <i class="zmdi zmdi-calendar"></i>
                    </a>
                    <div class="dropdown-menu hi-dropdown">
                        <div class="dropdown-header bg-blue m-b-15">
                            UPCOMING EVENTS
                            <ul class="actions a-alt">
                                <li><a class="" href=""><i class="zmdi zmdi-plus"></i></a></li>
                            </ul>
                        </div>
                        
                        <div class="list-group lg-alt">
                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-cyan">
                                        <h2>16/07</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">ICCSSR Annual Meeting</div>
                                    <small class="list-group-item-text c-gray">Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non posuere</small>
                                    <small class="list-group-item-text c-gray f-11">10 Days to go</small>
                                </div>
                            </a>
    
                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-green">
                                        <h2>20/7</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Outsourcing in Clinical Trials Europe 2014</div>
                                    <small class="list-group-item-text c-gray">Vestibulum ut auctor est. Proin euismod semper tortor id egestas</small>
                                    <small class="list-group-item-text c-gray f-11">20 Days to go</small>
                                </div>
                            </a>
    
                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-orange">
                                        <h2>2/8</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Biomarkers World Congress 2014</div>
                                    <small class="list-group-item-text c-gray">Phasellus luctus commodo augue, at posuere augue. Sed pellentesque libero vel dapibus placerat</small>
                                    <small class="list-group-item-text c-gray f-11">31 Days to go</small>
                                </div>
                            </a>
    
                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-red">
                                        <h2>30/10</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">August Flavors Cooking</div>
                                    <small class="list-group-item-text c-gray">Quisque magna tellus, vulputate a faucibus at, rhoncus vitae est. Nulla scelerisque sollicitudin mollis</small>
                                    <small class="list-group-item-text c-gray f-11">55 Days to go</small>
                                </div>
                            </a>
    
                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <div class="event-time bg-blue">
                                        <h2>23/11</h2>
                                        <small>11:30 AM</small>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Beach Party 2104</div>
                                    <small class="list-group-item-text c-gray">Etiam dolor diam, pulvinar nec vehicula id, sodales sagittis libero. Maecenas cursus varius libero et eleifend</small>
                                    <small class="list-group-item-text c-gray f-11">64 Days to go</small>
                                </div>
                            </a>
                        </div>

                        <a class="view-more" href="">View more</a>
                    </div>
                </li>
