<li class="hidden-xs dropdown pull-right">
                    <a href="" data-toggle="dropdown">
                        <i class="zmdi zmdi-apps"></i>    
                    </a>
                    {% if request.user.is_staff %}                    
                    <div class="dropdown-menu pull-right" id="launch-apps">
                        <div class="dropdown-header bg-teal">Acceso Directos</div>
                        
                        <div class="la-body">
                            <div class="lab-item">
                                <a href="{% url 'alumnos_lista' %}" class="bg-red">
                                    <i class="zmdi zmdi-account"></i>
                                </a>
                                <small>Alumnos</small>
                            </div>
                            
                            <div class="lab-item">
                                <a href="{% url 'grupo_lista' %}" class="bg-green">
                                    <i class="zmdi zmdi-group-work"></i>
                                </a>
                                <small>Grupos</small>
                            </div>
                            
                            <div class="lab-item">
                                <a href="{% url 'informes' %}" class="bg-blue">
                                    <i class="zmdi zmdi-attachment"></i>
                                </a>
                                <small>Informes</small>
                            </div>
                            
<!--
                            <div class="lab-item">
                                <a href="" class="bg-orange">
                                    <i class="zmdi zmdi-trending-up"></i>
                                </a>
                                <small>Analytics</small>
                            </div>
                            
                            <div class="lab-item">
                                <a href="" class="bg-cyan">
                                    <i class="zmdi zmdi-view-headline"></i>
                                </a>
                                <small>News</small>
                            </div>

                            <div class="lab-item">
                                <a href="" class="bg-teal">
                                    <i class="zmdi zmdi-image"></i>
                                </a>
                                <small>Gallery</small>
                            </div>
-->
                        </div>
                    </div>
                    {% endif %}
                </li>
