{% extends "site_base.html"%}

{% load i18n %}



{% block page_header %}
    <h1>{% trans "Empresa" %} {{empresa.nombre}} <a href="{% url 'empresa_editar' empresa.id %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
{% endblock %}

{% block body %}

<h2>Detalles</h2>
    
    <table class="table">
        <tr>
            <td>Nombre</td><td>{{empresa.nombre}}</td>
        </tr>
        <tr>
            <td>Razón Social</td><td>{{empresa.razon_social}}</td>
        </tr>
        <tr>
            <td>CIF</td><td>{{empresa.cif}}</td>
        </tr>
        <tr>
            <td>Teléfono</td><td>{{empresa.telefono}}</td>
        </tr>
        <tr>
            <td>E-mail</td><td><a href="mailto:{{empresa.email}}">{{empresa.email}}</a></td>
        </tr>
        <tr>
            <td>Cuenta Bancaria</td><td>{{empresa.cuenta_bancaria}}</td>
        </tr>
        
    </table>
    <a href="{% url 'empresas' %}" class="btn btn-success">Volver</a>

<h2>TicketBAIs<h2>


{% endblock %}
