{% extends "print_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
<div style="text-align: right">
    <img width="120px" height="55px" src='{% static "img/logo_eide_horizontal.png" %}' />
</div>
<br />
<div class="row">    
    <div class="col-md-12" style="text-align:center">
        <h1 style="text-align:center" >Alumno</h1>
        <table style="border-top-width: 2px ;border-color: black" class="table" >
            <tr>
            <td width="35%" ><b>Nombre del Alumno</b></td><td>{{asistencia.alumno.nombre}} {{asistencia.alumno.apellido1}} {{alumno.apellido2}}</td>
            <td> <b> Número Alumno:</b></td><td>{{asistencia.alumno.id }}</td>
            </tr>
            <tr>
            <td width="35%"><b>Grupo</b></td><td>{{asistencia.grupo.nombre}}</td>
            </tr>
        </table>
        
        <h1 style="text-align:center" >Clases</h1>
        <table class="table" style="text-align:left">
            <thead style="text-align:left">
                <th>Día</th>
                <th>Horario</th>
                <th>Aula</th>
                <th>Profesor</th>
            </thead>
            <tbody>
                {% for clase in asistencia.grupo.clases.all %}
                <tr>
                    <td>{{ clase.get_dia_semana_display }}</td>
                    <td>{{ clase.hora_inicio }}-{{ clase.hora_fin }}</td>
                    <td>{{ clase.aula }}</td>
                    <td>{{ clase.profesor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1 style="text-align:center" >Libros</h1>
        <table class="table" width="100%"  style="text-align: left" >
            <thead>
                <th>ISBN</th>
                <th>Título</th>
            </thead>
            <tbody>
                {% for libro in asistencia.grupo.curso.libros.all %}
                <tr>
                    <td width="35%" >{{ libro.isbn }}</td>
                    <td>{{ libro.titulo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <h1 style="text-align:center">Calendario</h1>
    <br />
        
            <table class="table table-striped table-condensed">
            {% for festivo in lista_festivos %}
            <tr>
            <td>    <b>{{ festivo.fecha }}</b></td>
            <td><i>{{ festivo.anotacion }}</i></td>
                
            <tr>
            {% endfor %}
            <table>
        
    </div>
</div>        
{% endblock %}
