{% extends "theme_superflat/clean.html" %}
{% load i18n %}
{% block body %}

<style>
@page {
    size: a4 portrait;
    @frame content_frame {
        left: 60pt;
        width: 480pt;
        top: 70pt;
        height: 712pt;
        font-size: 120%;
   }
}

    th {
        text-align: left;
    }
    table{
        font-size: 120%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-width: 1px;
    }
</style>
<br />
<br />

<div style="text-align:right">
   Numero Alumno: <b>{{asistencia.alumno.id }}</b>
</div>

<hr />
<br />
<br />
<br />
<div class="row">
    
    <div class="col-md-12" style="text-align:center">
        <h1 style="text-align:center">Escuelas EIDE S.L. : Departamentos de Idiomas</h1>    
<br />
<br />
<br />
<br />
        <div style="width: 60%;padding: 10px;text-align: left" >
            <table style="border-top-width: 2px ;border-color: black" >
                <tr>
                <td width="35%" ><b>Nombre del Alumno</b></td><td>{{asistencia.alumno.nombre}} {{asistencia.alumno.apellido1}} {{alumno.apellido2}}</td>
                </tr>
                <tr>
                <td width="35%"><b>Grupo</b></td><td>{{asistencia.grupo.nombre}} {{asistencia.alumno.apellido1}} {{alumno.apellido2}}</td>
                </tr>
            </table>
        </div>
        
<br />
<br />
<hr />
<br />
<br />
        <h1 style="text-align:center" >Clases</h1>
        <table class="table" style="text-align:left">
            <thead style="text-align:left">
                <th>Día</th>
                <th>Horario</th>
                <th>Aula</th>
                <th>Profesor</th>
            </thead>
            <tbody>
                {% for clase in asistencia.grupo.clases.all %}
                <tr>
                    <td>{{ clase.get_dia_semana_display }}</td>
                    <td>{{ clase.hora_inicio }}-{{ clase.hora_fin }}</td>
                    <td>{{ clase.aula }}</td>
                    <td>{{ clase.profesor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

<br />
<br />

        <h1 style="text-align:center" >Libros</h1>
        <table class="table" width="100%"  style="text-align: left" >
            <thead>
                <th>ISBN</th>
                <th>Título</th>
            </thead>
            <tbody>
                {% for libro in asistencia.grupo.curso.libros.all %}
                <tr>
                    <td width="35%" >{{ libro.isbn }}</td>
                    <td>{{ libro.titulo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
        <br />
    <h1 style="text-align:center">Calendario</h1>
        <br />
    <ul>
        {% for festivo in lista_festivos %}
        <li>
            <b>{{ festivo.fecha }}</b>
            <i>{{ festivo.anotacion }}</i>
        </li>
        <br />
        {% endfor %}
    </ul>
    
    </div>
</div>        
{% endblock %}
