{% extends "print_base.html" %}
{% block body %}
<style>
    @page {
        size: a4 portrait;
        margin: 2cm;
        font-size: 15px;
    }
    td {
        margin: 5px;
        vertical-align: middle;
    }
</style>

{% for grupo in grupo_list %}
    <h1 style="text-align:center;">Grupo {{grupo.nombre}} / {{year}}</h1>
    <h2>Clases</h2>
        <table class="table">
            <thead>
            
                <th>Dia</th>
                <th colspan="2">Horario</th>
                <th>Aula</th>
                <th>Prof</th>            
            </thead>
                {% for clase in grupo.clases.all %}
                <tr>
                    <td>{{clase.get_dia_semana_display}}</td>
                    <td>{{clase.hora_inicio}}</td><td>{{clase.hora_fin}}</td>
                    <td>{{clase.aula.nombre}}</td>
                    <td>{{clase.profesor}}</td>
                </tr>
                {% endfor %}
        </table>
    <h2>Libros</h2>
        <table class="table">
            <thead>
            
                <th>Titulo</th>
                <th>Editorial</th>
                <th>Autor</th>            
                <th>ISBN</th>            
            </thead>
                {% for libro in grupo.curso.libros.all %}
                <tr>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.editorial}}</td>
                    <td>{{libro.autor}}</td>
                    <td>{{libro.isbn}}</td>
                </tr>
                {% endfor %}
        </table>

    <h2>Alumnos</h2>
    
        <div style="font-size: 15px;align: right;" >Numero de alumnos: <b>{{ grupo.asistencia_set.all.count }}</b></div>
        <br />
        <table class="table" border="1" >
            <thead>
                <th style="text-align: left;padding-top: 15px;">Alumno</th>
                <th style="text-align: left;">Fech. Nacimiento</th>
                <th width="15%" style="text-align: left;">Confir.</th>
                <th width="35%" >Observaciones</th>
            </thead>
            <tbody>
                {% for asistencia in grupo.asistencia_set.all %}
                <tr>
                    <td>{{ asistencia.alumno}}</td>
                    <td>{{ asistencia.alumno.fecha_nacimiento|date:"Y-m-d"}}</td>
                    <td>{{ asistencia.confirmado|yesno}}</td>
                    <td>  </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <div style="page-break-after: always;"></div>
    <div><pdf:nextpage /></div>

{% endfor %}

{% endblock %}
