{% extends "site_base.html" %}

{% load i18n %}
{% load grupo_template_tags %}

{% block body %}

{% for grupo in grupo_list %}
    <div class="row">    
	{% with dias_clase=grupo.id|grupo_dias_clase_mes:mes %}   
    <br />
    <br />
    <h1>{% trans "Grupo" %} {{grupo.nombre}} {{ mes_nombre }} / {{ano}}</h1>
    <h2>Clases</h2>
        <table class="table">
            <thead>
            
                <th>Dia</th>
                <th colspan="2">Horario</th>
                <th>Aula</th>
                <th>Prof</th>            
            </thead>
                {% for clase in grupo.clases.all %}
                <tr>
                    <td>{{clase.get_dia_semana_display}}</td>
                    <td>{{clase.hora_inicio}}</td><td>{{clase.hora_fin}}</td>
                    <td>{{clase.aula.nombre}}</td>
                    <td>{{clase.profesor}}</td>
                </tr>
                {% endfor %}
        </table>
    <h2>Libros</h2>
        <table class="table">
<!--
            <thead>
            
                <th>Titulo</th>
                <th>Editorial</th>
                <th>Autor</th>            
                <th>ISBN</th>            
            </thead>
-->
                {% for libro in grupo.curso.libros.all %}
                <tr>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.editorial}}</td>
                    <td>{{libro.autor}}</td>
                    <td>{{libro.isbn}}</td>
                </tr>
                {% endfor %}
        </table>

    <br />
    <table class="table" border="1">
        <thead>
            <th colspan="2">Día</th>
            {% for dia in dias_clase %}
            <th>{{ dia }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for asistencia in grupo.asistencia_set.all %}
            <tr>
                <td colspan="2" >{{ asistencia.alumno.apellido1}} 
                    {{asistencia.alumno.apellido2}}, 
                    {{asistencia.alumno.nombre}}</td>
                {% for dia in dias_clase %}<td>  </td>{% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endwith %}
    <div style="page-break-after: always;"></div>
</div>
<div><pdf:nextpage /></div>
{% endfor %}

{% endblock %}
