{% extends "print_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
<!--
<div>
    <img width="120px" height="55px" src='{% static "img/logo_eide_horizontal.png" %}' />
</div>
-->    
    <h1 style="text-align:center">DATOS</h1>

    <table class="table">
        <tr>
            <td><b>Nombre</b></td><td>{{alumno.nombre}}</td>
            <td><b>Apellido(s)</b></td><td>{{alumno.apellido1}} {{alumno.apellido2}}</td>
            <td><b>{{alumno.id}}</b></td>
        </tr>
            <td><b>Fecha Nac.</b></td><td>{{alumno.fecha_nacimiento}}</td>
            <td><b>Fecha Alta</b></td> <td>{{ alumno.fecha_creacion }}</td>
        </tr>
        <tr>
            <td><b>Teléfonos</b></td><td>{{alumno.telefono1}} - {{alumno.telefono2}}</td><td><b>E-mail</b></td><td>{{alumno.email}}</td>
        </tr>
        <tr>
            <td><b>Dirección</b></td><td>{{alumno.direccion}}</td>
            <td colspan="2"><b>Ciudad (CP)</b> {{alumno.ciudad}} ({{alumno.cp}})</td>
        </tr>
    </table>

    <h1 style="text-align:center">MATRÍCULA Y NORMAS DEL CENTRO</h1>

    <div>
        <div>El alumno al formalizar la presente matrícula acepta las condiciones siguientes:</div>
        <ol>
           <li>La duración del curso es la estipulada por la Dirección del Centro recogida en el calendario escolar que se entrega a principios de curso.</li>
            <li>En concepto de inscripción, y SOLO POR UNA VEZ, se cobra una cantidad que no es susceptible de devolución una vez entregada.</li>
            <li>Aquellos alumnos que causen baja en el Centro antes de las fechas fijadas como fin de curso en el Calendario Escolar, serán considerados como Alumnos Nuevos si desean reincorporarse al centro de nuevo, por lo que deberán abonar la cuota de inscripción.</li>
            <li>El curso se abonará por meses naturales por adelantado (del 1 al 10 de cada mes) a través de domiciliación bancaria.</li>
            <li>La dirección del Centro se reserva el derecho de cancelar las matrículas de aquellos alumnos cuya conducta afecte desfavorablemente la marcha de las actividades del centro.</li>
            <li>El Centro se reserva el derecho de cancelar las clases de los grupos, cuyo número sea inferior a 4 alumnos.</li>
            <li>No se reembolsará ninguna cantidad cuando el alumno deje de asistir al curso o haya abonado algún importe del mismo antes de su comienzo. El alumno tendrá que notificar su baja en el centro antes del día 1 de cada mes, en caso contrario se cobrará el recibo íntegro.</li>
            <li>En el caso de devolución de recibo bancario, el alumno abonará en caja el importe relativo a su curso más los gastos que se hayan producido. No se admitirán devoluciones de recibos una vez pasada una semana.</li>
            <li>Tanto el equipamiento como el material pedagógico de uso general de los alumnos es propiedad de EIDE, y no deben, en ningún caso, ser retirados del centro.</li>
            <li>La vigencia de la matrícula será para el curso escolar contratado.</li>
            <li>La matrícula quedará renovada si el alumno entrega en Secretaría el documento de “renovación de matrícula” que se distribuye en el mes de Mayo de cada año, siendo el coste del curso el establecido en el listado de precios que corresponda al nuevo curso escolar.</li>
        </ol>

    </div>
    <div>
        Le informamos conforme a lo previsto en el RGPD de 27 de abril de 2016 que ESCUELAS INTERNACIONALES PARA LA EDUCACIÓN Y EL DESARROLLO EIDE S.L., recaba y trata sus datos de carácter personal, aplicando las medidas técnicas y organizativas que garantizan su confidencialidad, con la finalidad de gestionar la relación que le vincula. Usted da su consentimiento y autorización para dicho tratamiento. Conservaremos sus datos de carácter personal únicamente el tiempo imprescindible para gestionar nuestra relación. Podrá ejercitar los derechos de acceso, rectificación, supresión, limitación, portabilidad y oposición dirigiéndose a ESCUELAS INTERNACIONALES PARA LA EDUCACIÓN Y EL DESARROLLO EIDE S.L. con dirección Genaro Oraá Kalea 6,Santurce,48980,BIZKAIA.
    </div>

        <h1 style="text-align:center">Firma</h1>


        <table class="table table-condensed" style="border: 1px;">
            <tr valign="middle">
                <td width="5%" valign="middle">&#x25a2;</td>
                <td>
                Doy mi consentimiento expreso para recibir comunicaciones en los términos anteriormente descritos.
                </td>
            </tr>
            <tr valign="middle" >
                <td width="5%" valign="middle">&#x25a2;</td>
                <td>
                Doy mi consentimiento expreso para que mi imagen pueda ser utilizada en la página Web o en redes sociales del centro así como en todo el material publicitario que pueda utilizar.
                </td>
            </tr>
        </table>
        <table class="table">
            <thead>
                <td>Firma del interesado (Padre, Madre, Tutor Legal)</td>
                <td>EIDE</td>
            </thead>
            <tr>
                <td><br />&nbsp;<br /><br /><br /></td>
            </tr>
        </table>
        <div style="text-align:center" >
            Genaro Oraá,6 y Balleni 3 (Kabiezes)- 48980 SANTURTZI (Spain)- Tlf. + 34 944 937 005 - FAX +34 944 615 723
        </div>
        <div style="text-align:center" >
            www.eide.es - e-mail: eide@eide.es
        </div>
    </div>
</div>


    <div style="page-break-after: always;"></div>
    <div><pdf:nextpage /></div>

    <h1 style="text-align:center">DATUAK</h1>

    <table class="table">
        <tr>
            <td><b>Izena</b></td><td>{{alumno.nombre}}</td>
            <td><b>Abizena(k)</b></td><td>{{alumno.apellido1}} {{alumno.apellido2}}</td>
            <td><b>{{alumno.id}}</b></td>
        </tr>
            <td><b>Jaiote Eguna</b></td><td>{{alumno.fecha_nacimiento}}</td>
            <td><b>Alta Data</b></td> <td>{{ alumno.fecha_creacion }}</td>
        </tr>
        <tr>
            <td><b>Telefonoak</b></td><td>{{alumno.telefono1}} - {{alumno.telefono2}}</td><td><b>E-mail</b></td><td>{{alumno.email}}</td>
        </tr>
        <tr>
            <td><b>Helbidea</b></td><td>{{alumno.direccion}}</td>
            <td colspan="2"><b>Hiria (PK)</b> {{alumno.ciudad}} ({{alumno.cp}})</td>
        </tr>
    </table>


    <h1 style="text-align:center">MATRIKULA ETA IKASTETXEAREN ARAUAK</h1>

    <div>
        <div>Ikasleak, matrikula egiterakoak, hurrengo baldintzak onartzen ditu:</div>
        <ol>
            <li>Ikastaroaren iraupena zentroaren zuzendaritzak hitzartzerakoa da, eta emandako eskola egutegian dago informazioa</li>
            <li>Lehen aldiz matrikula egiterakoan, matrikularen prezioa ordaindu beharda aldi bat bakarrik eta diru hori ezin da itzuli. Ikastaroaren amaiera baino lehen desapuntazen diren ikasleak, ikasle berriak izango balira bezala kontutan hartzen dira ikastetxean matrikulatu nahi ba dira berriro. Beraz, matrikula berriro ordaindu behar izango dute.</li>
            <li>Ikastaroa hilabeteetan ordainduko da aldez aurretik banku-transferentziaren bidez (hilabetearen lehenengo 10 egunen barne)</li>
            <li>Ikastetxearen zuzendaritzak  matrikula ezeztatu dietzaieke ikasle haiei zeinen jokaera txarrak zentroaren jardueretara kaltegarriki eragiten duen.</li>
            <li>Ikastetxeak 4 ikasle baino gutxiago duten taldeak ezeztatzeko eskubidea gordetzen du</li>
            <li>Ez da kantitaterik itzuliko ikasleak ikastaroa uzten duenean edo ikastaroa hasi baino lehen zerbait ordaindu badu. Ikasleak ikastaroa uzten duela hilabetea hasi baino lehen esan behar du.</li>
            <li>Banku-ordainagiri itzultzerakoan, ikasleak bere ikastaroaren prezioa itzuli beharko du eta baita sortutako gastuak ere.</li>
            <li>Ikasleen erabilera orokorrarako hornikuntza eta material pedagogikoa eide-jabetza da eta ezin da eidetik atera</li>
            <li>Matrikula berriztatuta izango da urtero Maiatzan ikasleei ematen zaien “matrikula-berriztatze” dokumentua idazkaritzan ematen badu. Ikasturte berriko prezioak Eiden azaldutakoak izango dira.</li>
        </ol>

    </div>
    <div>
        Lege 15/1999, Datu pertsonalak babesteari buruzko jarraiki, zure datuak Erregistroan Agentziaren Datuak Babesteko
        matrikulatuta izeneko fitxategia ikasle sartuko dira eta horren arduraduna fitxategia Escuelas Internacionales
        para la Educación y el Desarrollo EIDE, SL . Datu pertsonalak bilduma honen helburua ikaslearen harreman bat
        ezartzea bidal daiteke beharrezko komunikazioak edozein bitarteko, elektronikoak barne, eta, gainera, argitaratu
        albiste, argazki eta / edo bideoak izango dira pertsonaren edo bertan erregistratuta sare sozialak web orrian
        ikasleak. Zuk, datu jabeak, baimena eta onespena bera sartzea gainetik fitxategia zehatza egiteko moduan. Edonola
        ere, askatasuna duzu sartzeko, zuzentzeko, deuseztatzeko eta aurka egiteko eskubideak erabili ahal izateko arduraz
        aurre C / Genaro Oraa nº6, CP 48980, Santurtzi, Bizkaia, LOPD komunikazio adieraziz.
    </div>

    <h1 style="text-align:center">Sinadura</h1>


        <table class="table table-condensed" style="border: 1px;">
            <tr valign="middle">
                <td width="5%" valign="middle">&#x25a2;</td>
                <td>
                    Nire baimena ematen dut komunikazioak goian deskribatutako baldintzetan  jasotzeko
                </td>
            </tr>
            <tr valign="middle" >
                <td width="5%" valign="middle">&#x25a2;</td>
                <td>
                    Nire baimen zehatza ematen dut EIDEk nire irudia erabil dezakela bere Web-ean, sare sozialetan eta publizitatean.
                </td>
            </tr>
        </table>
        <table class="table">
            <thead>
                <td>Ikasleare sinadura (Aita, Ama edo Tutore Legala)</td>
                <td>EIDE</td>
            </thead>
            <tr>
                <td>&nbsp<br />&nbsp;<br /><br /><br /></td>
            </tr>
        </table>
        <div style="text-align:center" >
            Genaro Oraá,6 y Balleni 3 (Kabiezes)- 48980 SANTURTZI (Spain)- Tlf. + 34 944 937 005 - FAX +34 944 615 723
        </div>
        <div style="text-align:center" >
            www.eide.es - e-mail: eide@eide.es
        </div>
    </div>
</div>
        
{% endblock %}
