{% extends "print_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
<!--
<div>
    <img width="120px" height="55px" src='{% static "img/logo_eide_horizontal.png" %}' />
</div>
-->    
    <h1 style="text-align:center">MATRÍCULA Y NORMAS DEL CENTRO</h1>
    <table class="table">
        <tr>
            <td><b>Nombre</b></td><td>{{alumno.nombre}}</td>
            <td><b>Apellido(s)</b></td><td>{{alumno.apellido1}} {{alumno.apellido2}}</td>
            <td><b>{{alumno.id}}</b></td>
        </tr>
            <td><b>Fecha Nac.</b></td><td>{{alumno.fecha_nacimiento}}</td>
            <td><b>Fecha Alta</b></td> <td>{{ alumno.fecha_creacion }}</td>
        </tr>
        <tr>
            <td><b>Teléfonos</b></td><td>{{alumno.telefono1}} - {{alumno.telefono2}}</td><td><b>E-mail</b></td><td>{{alumno.email}}</td>
        </tr>
        <tr>
            <td><b>Dirección</b></td><td>{{alumno.direccion}}</td>
            <td><b>Ciudad (CP)</b> {{alumno.ciudad}} ({{alumno.cp}})</td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <td>Fecha Renovación Curso 20__/__</td>
            <td>Fecha Renovación Curso 20__/__</td>
            <td>Fecha de baja</td>
        </tr>
        <tr>
            <td>_________________</td>
            <td>_________________</td>
            <td>_________________</td>
        </tr>
        </table>

        <!-- <h1 style="text-align:center">NORMAS DEL CENTRO</h1> -->
        <div>El alumno al formalizar la presente matrícula acepta las condiciones siguientes:</div>
        <ol>
           <li>1.- La duración del curso es la estipulada por la Dirección del Centro recogida en el calendario escolar que
se entrega a principios de curso.</li>
            <li>2.- En concepto de inscripción, y SOLO POR UNA VEZ, se cobra una cantidad que no es susceptible de
devolución una vez entregada. Aquellos alumnos que causen baja en el Centro antes de las fecha s
fijadas como fin de curso en el Calendario Escolar, serán considerados como Alumnos Nuevos si desean
reincorporarse al centro de nuevo, por lo que deberán abonar la cuota de inscripción.</li>
            <li>3.- El curso se abonará por meses naturales por adelantado (del 1 al 10 de cada mes) a través de
domiciliación bancaria.</li>
            <li>4.- La dirección del Centro se reserva el derecho de cancelar las matrículas de aquellos alumnos cuya
conducta afecte desfavorablemente la marcha de las actividades del centro.</td></tr>
            <li>5.- El Centro se reserva el derecho de cancelar las clases de los grupos, cuyo número sea inferior a 4
alumnos.</li>
            <li>6.- No se reembolsará ninguna cantidad cuando el alumno deje de asistir al curso o haya abonado algún
importe del mismo antes de su comienzo. El alumno tendrá que notificar su baja en el centro antes del
día 1 de cada mes, en caso contrario se cobrará el recibo íntegro.</li>
            <li>7.- En el caso de devolución de recibo bancario, el alumno abonará en caja el importe relativo a su curso
más los gastos que se hayan producido. No se admitirán devoluciones de recibos una vez pasada una
semana.</td></tr>
            <li>8.- Tanto el equipamiento como el material pedagógico de uso general de los alumnos es propiedad de
EIDE, y no deben, en ningún caso, ser retirados del centro.</li>
            <li>9.- La vigencia de la matrícula será para el curso escolar contratado.</li>
            <li>10.- La matrícula quedará renovada si el alumno entrega en Secretaría el documento de “renovación de
matrícula” que se distribuye en el mes de Mayo de cada año, siendo el coste del curso el establecido en
el listado de precios que corresponda al nuevo curso escolar.</li>
            <li>11.- Doy mi consentimiento expreso para que mi imagen pueda ser utilizada en la página Web o en redes sociales del centro así como en todo el material publicitario que pueda utilizar.</li>
        </ol>

<div class="row">
    <div class="col-md-12">
        <div> Conforme a lo previsto en la Ley Orgánica 15/1999 de Protección de Datos de Carácter 
        Personal, sus datos serán incluidos en un fichero denominado alumnos, inscrito en el Registro 
de la Agencia de Protección de Datos y cuyo Responsable del fichero es ESCUELAS 
INTERNACIONALES  PARA LA EDUCACION Y EL DESARROLLO EIDE, S.L. La 
finalidad de esta recogida de datos de carácter personal será la de establecer una relación con el 
alumno pudiendo remitirle las comunicaciones necesarias por cualquier medio, incluido el 
correo electrónico y además colocar noticias, fotografías y/o videos de los alumnos en la página 
Web del Responsable o de las redes sociales en la que esté registrada. Vd. da, como titular de 
los datos, su consentimiento y autorización para la inclusión de los mismos en el fichero 
anteriormente detallado. En cualquier caso, podrá ejercitar gratuitamente los derechos de 
acceso, rectificación, cancelación y oposición dirigiéndose al Responsable con dirección en 
C/Genaro Oraa nº6, C.P. 48980, Santurtzi, Bizkaia, indicando en la comunicación LOPD.
        </div>
        <table class="table table-condensed" style="border: 1px;">
            <tr><td width="5%">&#10004;</td><td>Doy mi consentimiento expreso para recibir comunicaciones en los términos anteriormente descritos.</td></tr>
            <tr><td width="5%">&#10004;</td><td>Doy mi consentimiento expreso para que mi imagen pueda ser utilizada en la página Web o en redes sociales del centro así como en todo el material publicitario que pueda utilizar.</td></tr>
        </table>
        <table class="table">
            <thead>
                <th>Firma del interesado (Padre, Madre, Tutor Legal)</th>
                <th>EIDE - Departamento de Idiomas</th>
            </thead>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div style="text-align:center" >
            Genaro Oraá,6 y Balleni 3 (Kabiezes)- 48980 SANTURTZI (Spain)- Tlf. + 34 944 937 005 - FAX +34 944 615 723
        </div>
        <div style="text-align:center" >
            www.eide.es - e-mail: eide@eide.es
        </div>
    </div>
</div>
        
{% endblock %}
