{% extends "site_base.html" %}
{% load i18n %}
{% block body %}

<style>
    body {
        font-size: 18pt;
    }
    td {
        font-size: 18pt;
    }
    @page {
        size: a5 landscape;
        margin: 2cm;
    }
</style>

<div class="row">
    <div class="col-md-2 pull-right" style="text-align:right">
        <span style="text-align:right" >Numero Alumno: <b>{{alumno.id }}</b></span>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
    <table class="table">
        <tr>
            <td><b>Nombre</b></td><td>{{alumno.nombre}}</td>
            <td><b>Apellido(s)</b></td><td>{{alumno.apellido1}} {{alumno.apellido2}}</td>
        </tr>
        <tr>
            <td><b>DNI</b></td><td>{{ alumno.dni }}</td>
            <td><b>Fecha Nac.</b></td><td>{{alumno.fecha_nacimiento}}</td>
        </tr>

            <td><b>Teléfonos</b></td><td>{{alumno.telefono1}} - {{alumno.telefono2}}</td>
            <td><b>Fecha Alta</b></td> <td>{{ alumno.fecha_creacion }}</td>
        </tr>
        <tr>
            <td><b>E-mail</b></td><td>{{alumno.email}}</td>
            <td><b>Ciudad</b> {{alumno.ciudad}} <b>CP</b>{{alumno.cp}}</td>
        </tr>
        <tr>
            <td><b>Dirección</b></td><td colspan="3">{{alumno.direccion}}</td>
        </tr>
        <tr>
            <td ><b>Cuenta</b></td><td colspan="3">{{alumno.cuenta_bancaria}}</td>
        </tr>
    </table>
    
    </div>
</div>
        
{% endblock %}
