{% load static %}
{% load i18n %}

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cookies</h4>
      </div>
      <div class="modal-body">
        <p>Utilizamos Cookies propias y de terceros para analizar nuestros servicios y mostrarte publicidad relacionada con tus preferencias en base a un perfil elaborado a partir de tus hábitos de navegación (por ejemplo, páginas visitadas)&hellip;</p>
      </div>
      <div class="modal-footer">
        <form class="cookie-consent-accept" action="" method="POST">
          {% csrf_token %}
          <input type="submit" value="{% trans "Accept" %}">
        </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Denegar</button>
        <button type="button" class="btn btn-primary">Permitir</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% comment %}
<section id="content">
<div class="container">
<h1>Cookies</h1>

     <h2>
      Social cookies
    </h2>
    <p>
      sharing button is displayed below only if "Social" cookies are accepted.
    </p>
    <div class="share-gplus"><g:plusone size="small" count="false"></g:plusone></div>

    <h2>Optional cookies</h2>
    {% if request|cookie_group_accepted:"optional" %}
      <p>
        "optional" cookies accepted
      </p>
    {% elif request|cookie_group_declined:"optional" %}
      <p>
        "optional" cookies declined
      </p>
    {% else %}
      <p>
        "optional" cookies not accepted or declined
      </p>
    {% endif %}

    {# not existing cookie group #}
    {% if request|cookie_group_accepted:"foo=*:.foo.com" %}
      <p>
        None existing cookies
      </p>
    {% endif %} {% endcomment %}

    <p>
      <a href="">Cookies policy</a>
    </p>
</div>
</section>
