{% load staticfiles %}
{% load account_tags %}

<!--| MAIN MENU |-->
<ul class="side-menu">
	<li class="sm-sub sms-profile">
		{% if request.user.is_authenticated %}
		<a class="clearfix" href="">
			<img src="{% static 'img/profile-pics/5.jpg' %}" alt="">
			<span class="f-11">
				<span class="d-block">{% user_display request.user %}</span>
				<small class="text-lowercase">{{request.user.email}}</small>
			</span>
		</a>
		<ul>
			<li><a href="{% url 'account_settings' %}">Settings</a></li>
			<li> <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> Log out</a></li>
			<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
			{% csrf_token %}
			</form>
			
		</ul>
		{% else %}
			
			<a class="clearfix" href="}">
			<img src="{% static "img/profile-pics/5.jpg" %}" alt="">
			<span class="f-11">
				<span class="d-block">Anon.</span>
			</span>
		</a>
		<ul>
			<li><a href="{% url 'account_login' %}">Log In</a></li>
		</ul>
		{% endif %}
	</li>
	{% if request.user.is_authenticated %}
    <!--
	<li class="active">
		<a href="{% url 'home' %}">
			<i class="zmdi zmdi-home"></i>
			<span>Home</span>
		</a>
    </li>
    -->
	<li class="sm-sub">
		<a href="/alumnos" >
			<i class="zmdi zmdi-view-list"></i>
			<span>Alumnos</span>
		</a>
		<ul>
			<li>
				<a href="{% url 'alumnos_lista' %}"><i class="zmdi zmdi zmdi-view-list"></i>&nbsp;&nbsp;<span>Lista</span></a>
				<a href="{% url 'alumnos_lista_activos' %}"><i class="zmdi zmdi zmdi-view-list"></i>&nbsp;&nbsp;<span>Lista Activos</span></a>
				<a href="{% url 'alumnos_lista_todos' %}"><i class="zmdi zmdi zmdi-view-list"></i>&nbsp;&nbsp;<span>Lista Todos</span></a>
			</li>
			<li>
				<a href="{% url 'alumno_nuevo' %}">Nuevo</a>
			</li>
		</ul>
	</li>
	<li class="sm-sub" >
		<a href="" >
			<i class="zmdi zmdi zmdi-view-list"></i>
			<span>Grupos</span>
		</a>
		<ul>
			<li>
				<a href="/grupos"><i class="zmdi zmdi zmdi-view-list"></i>&nbsp;&nbsp;<span>Grupos</span></a>
			</li>
			<li>
				<a href="{% url 'imprimir_grupos' %}">Imprimir lista de Grupos</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/calendario">
			<i class="zmdi zmdi-calendar"></i>
			<span>Calendario</span>
		</a>
	</li>
	<li>
		<a href="{% url 'evaluacion' %}">
			<i class="zmdi zmdi-check-all"></i>
			<span>Evaluacion</span>
		</a>
	</li>
	<li>
		<a href="{% url 'recibos' %}">
			<i class="zmdi zmdi-money-box"></i>
			<span>Recibos</span>
		</a>
	</li>
	<li class="sm-sub">
		<a href="">
			<i class="zmdi zmdi-settings"></i>
			<span>Varios</span>
		</a>
		<ul>
			<li><a href="/cursos"><i class="zmdi zmdi-graduation-cap"></i>&nbsp;&nbsp;<span>Cursos</span></a></li>
			<li><a href="/aulas"><i class="zmdi zmdi-home"></i>&nbsp;&nbsp;Aulas</a></li>
			<li><a href="/profesores"><i class="zmdi zmdi-accounts-alt"></i>&nbsp;&nbsp;Profesores</a></li>
			<li><a href="/libros"><i class="zmdi zmdi-book"></i>&nbsp;&nbsp;Libros</a></li>
            <li><a href="/year">
                <i class="zmdi zmdi-calendar"></i>&nbsp;&nbsp;Años</a></li>
			<li><a href="{% url 'importar_list' %}"><i class="zmdi zmdi-upload"></i>&nbsp;&nbsp;Importaciones</a></li>
		</ul>
	</li>
	<li>
		<a href="{% url 'informes' %}">
			<i class="zmdi zmdi-trending-up"></i>
			<span>Informes</span>
		</a>
	</li>
	{% endif %}
</ul>
