{% extends "site_base.html"%}
{% load i18n %}
{% load gestioneide_extra_tags %}

{% block page_header %}
{% endblock %}

{% block body %}
  {% if request.user.is_staff %}
      <h2>Hola {{request.user}}</h2>
      {% include "admin_dashboard.html" %}
  {% elif request.user|has_group:"profesores"%}
      Hola profesor {{ request.user.profesor.name }}
      {% with request.user.profesor as  profesor %}
          {% include "profesores/profesor_dashboard.html" %}
      {% endwith %}
  {% elif request.user|has_group:"alumnos" %}
      Hola alumno
      {% with request.user.alumno as  alumno %}
          {% include "portalalumno/alumno_dashboard.html" %}
      {% endwith %}
  {% else %}
    <div class="jumbotron">
      <h1 class="display-4">Gestión de Alumnos de EIDE.</h1>
      <p class="lead">Este es el sistema de gestión de alumnos de EIDE.</p>
      <hr class="my-4">
      <p>El acceso al mismo solo es posible con usuario y contraseña</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button">Entrar</a>
      </p>
    </div>
  {% endif %}
{% endblock %}


