{% extends "theme_superflat/public_base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}

{% block styles %}
    {% include "_styles.html" %}
{% endblock %}

{% comment %} {% block extra_head_base %}
    {% include "_cookie_law.html" %} 
    {% block extra_head %}{% endblock %}
{% endblock %} {% endcomment %}

{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}