{% extends "theme_superflat/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block extra_top_bar %} 
<li class="dropdown hidden-xs">
<div>
<i class="zmdi zmdi-calendar"></i>
<a href="" >{{year.name}}</a>
</div>
{% if year_user %}
<div>
<i class="zmdi zmdi-calendar"></i>
<a href="" >({{year_user.name}})</a>
</div>
{% endif %}
</div>
</li>
    {% include "theme_superflat/_search.html" %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
