{% extends "theme_superflat/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block extra_top_bar %} 

<li class="dropdown">
<a href="" data-toggle="dropdown" >
<i class="zmdi zmdi-calendar"></i>
{% if year_user %}
    {{year_user.name}}
{% else %}
    {{year.name}}
{% endif %}
</a>
</li>
    {% include "theme_superflat/_search.html" %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
