{% extends "site_base.html"%}
{% load i18n %}
{% block page_header %}
<h1>{% trans "Grupo" %} {{object.nombre}} 
    {% if request.user.is_staff %}
    <a href="{% url 'grupo_editar' object.id %}"><span class="glyphicon glyphicon-pencil"></span></a> 
    <a href="{% url 'grupo_borrar' object.id %}"><span class="glyphicon glyphicon-trash"></span></a> 
    {% endif %}
</h1>    
{% endblock %}

{% block body %}

<div class="row">
    
    {% if request.user.is_staff %}
    <div class="col-md-12">
		<div class="btn-group" role="group" aria-label="...">
		<button class="btn">Pasar Lista</button>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 9%}">9</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 10%}">10</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 11%}">11</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 12%}">12</a>     
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 1%}">1</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 2%}">2</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 3%}">3</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 4%}">4</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 5%}">5</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 6%}">6</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 7%}">7</a>
        <a type="button" class="btn btn-default" href="{% url 'evaluacion_pasarlista_grupo_mes' grupo.id 8%}">8</a>
    </div>
    <div class="btn-group" role="group" aria-label="...">
		<button class="btn">Planilla Notas</button>
        <a type="button" class="btn btn-default" href="{% url 'grupo_notas_trimestre' grupo.id 1%}">1</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_notas_trimestre' grupo.id 2%}">2</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_notas_trimestre' grupo.id 3%}">3</a>
    </div>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-lg-6"> 
        <h3>Clases</h3>
        <table class="table">
            <thead>
                <th>Dia</th>
                <th colspan="2">Horario</th>
                <th>Aula</th>
                <th>Prof</th>
            </thead>
            <tbody>
                {% for clase in object.clases.all %}
                <tr>
                    <td>{{clase.get_dia_semana_display}}</td>
                    <td>{{clase.hora_inicio}}</td><td>{{clase.hora_fin}}</td>
                    <td>
                        {% if request.user.is_staff %}
                        <a href="{% url 'aula_detalle' clase.aula.id %}">{{clase.aula.nombre}}</a>
                        {% else %}
                        {{clase.aula.nombre}}
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_staff %}
                        <a href="{% url 'profesor_detalle' clase.profesor.id %}">{{clase.profesor}}</a>
                        {% else %}
                        {{clase.profesor}}
                        {% endif %}
                    </td>
                    {% if request.user.is_staff %}
                    <td>
                        <a href="{% url 'borrar_clase' clase.id %}" id=borrar_clase" class="btn" ><i class="zmdi zmdi-delete"></i></a>
                        <a href="{% url 'editar_clase' clase.id %}" id=editar_clase" class="btn" 
                        data-toggle="modal" data-target="#claseEditarModal" data-edit_url="{% url 'editar_clase_modal' clase.id %}" >
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if request.user.is_staff %}
        {% include 'grupos/clase_modal.html' %}
        {% include 'grupos/clase_editar_modal.html' %}
        {% endif %}
        <h3>Resumen</h3>
        <table class="table">
            <tr><td>Nombre</td><td>{{object.nombre}}</td></tr>
            <tr><td>Precio</td><td>{{object.get_precio}} €</td></tr>
            <tr><td>Num Max. Alumnos</td><td>{{object.num_max}}</td></tr>
            <tr><td>Menores</td><td>{{object.menores|yesno}}</td></tr>
        </table>
        <h3>Comunicar</h3>

        {% include 'grupos/anotacion_grupo_modal.html' %}
        
        {% include 'grupos/email_grupo_modal.html' %}
        
        <h3>Últimas anotaciones</h3>
        <table class="table">
            <thead>
                <th>Fecha</th><th>Creador</th><th>Resumen</th>
            </thead>
            <tbody>
                {% for anotacion in object.anotaciongrupo_set.all %}
                <tr>
                    <td><a href="{% url 'grupo_anotacion_ver' anotacion.id %}">{{ anotacion.fecha }}</a></td>
                    <td>{{ anotacion.creador.profesor.nombre }} {{ anotacion.creador.profesor.apellido }} ({{ anotacion.creador }})</td>
                    <td>{{ anotacion.texto | truncatechars:150}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        {% if request.user.is_staff %}
        <h3>Imprimir</h3>
        <a  class="btn zmdi zmdi-print" href="{% url 'imprimir_grupo_unico_alumnos' object.id %}">
            Imprimir ficha grupo
        </a>
        {% endif %}
    </div>
    <div class="col-lg-6"> 
        <h3>Alumnos</h3>
        <table class="table">
            <thead>
                <th>Alumno</th><th></th>
            </thead>
            {% for asistencia in object.asistencia_set.all %}
            <tr>
               
                <td>
                    {% if request.user.is_staff %}
                    <a href="{% url 'alumno_detalle' asistencia.alumno.id%}">
                        {{asistencia.alumno.id}} - {{asistencia.alumno.nombre}},{{asistencia.alumno.apellido1}} {{asistencia.alumno.apellido2}}
                    </a>
                    {% else %}
                    {{asistencia.alumno.id}} - {{asistencia.alumno.nombre}},{{asistencia.alumno.apellido1}} {{asistencia.alumno.apellido2}}
                    {% endif %}
                </td>
                
                <td>
                    {% if request.user.is_staff %}
                    {% if not asistencia.confirmado %}
                        <a class="btn btn-primary zmdi zmdi-check" href="{% url 'imprimir_asistencia_horario' asistencia.id %}">Confirmar</a>
                    {% endif %}
                    <a class="btn zmdi zmdi-print" href="{% url 'imprimir_asistencia_horario' asistencia.id %}">Horario</a>
                    <a class="btn zmdi zmdi-edit" href="{% url 'asistencia_editar' asistencia.id %}"></a>
                    <button type="button" class="btn zmdi zmdi-delete" data-toggle="modal" data-target="#deleteAsistenciaModal" data-delete_url="{% url 'asistencia_borrar' asistencia.id %}"></button>
                    {% endif %}
                    {% include 'grupos/email_alumno_modal.html' with asistencia=asistencia %}
                </td>
                
            </tr>
            {% endfor %}
            {% include "grupos/asistencia_modal.html" %}
        </table>
        {% if request.user.is_staff %}<a class="btn btn-primary" href="{% url 'asistencia_nueva_grupo' object.id %}">Añadir alumno</a>{% endif %}
    </div>
</div>    

{% endblock %}

{% block scripts %}
<script>
$('#emailGrupoModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var grupo_id = button.data('grupo_id'); // Extract info from data-* attributes
  var modal = $(this);
  var form_url = "/grupos/email/"+grupo_id+"/";
  console.log("Vamos a cargar la form de ",form_url);
  modal.find('.modal-body').load(form_url);
});

$('#anotacionGrupoModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var grupo_id = button.data('grupo_id'); // Extract info from data-* attributes
  var modal = $(this);
  var form_url = "/grupos/anotacion/"+grupo_id+"/nueva/";
  console.log("Vamos a cargar la form de ",form_url);
  modal.find('.modal-body').load(form_url);
});

$('#emailAlumnoModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var asistencia_id = button.data('asistencia_id'); // Extract info from data-* attributes
  var modal = $(this);
  var form_url = "/grupos/alumno/email/"+asistencia_id+"/";
  console.log("Vamos a cargar la form de ",form_url);
  modal.find('.modal-body').load(form_url);
});

$('#claseModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var grupo_id = button.data('grupo_id'); // Extract info from data-* attributes
  var modal = $(this);
  var form_url = "/clases/nueva/grupo/"+grupo_id+"/";
  console.log("Vamos a cargar la form de ",form_url);
  modal.find('.modal-body').load(form_url);
});

$('#claseEditarModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var grupo_id = button.data('grupo_id'); // Extract info from data-* attributes
  var modal = $(this);
  var form_url = button.data('edit_url');
  console.log("Vamos a cargar la form de ",form_url);
  modal.find('.modal-body').load(form_url);
});

$('#deleteAsistenciaModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var delete_url = button.data('delete_url') // Extract info from data-* attributes
  var modal = $(this)
  console.log("Cargamos el form de ",delete_url)
  modal.find('.modal-body').load(delete_url)
});
</script>
{% endblock %}
