{% extends "site_base.html"%}
{% load i18n %}

{% block page_header %}

{% include "pagination/pagination.html" %} 
Viendo <b>{{ page_obj.start_index }}</b>-<b>{{ page_obj.end_index }}</b> grupos.
{% if request.user.is_staff %}
<a class="btn btn-primary pull-right" href="{% url 'grupo_nuevo' %}">Nuevo</a>
{% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <table class="table">
            <thead>
                <tr>
                <td>Nombre</td>
                <td>Curso</td>
                <td>Clases</td>
                <td>Conf. / Sin Conf.</td>
                <td>Menores</td>
                </tr>
            </thead>
            <tbody>
            {% for grupo in object_list %}
            <tr>
                <td><a href="{{grupo.get_absolute_url}}">{{ grupo.id }} - {{ grupo.nombre }}</a></td>
                <td>{{ grupo.curso }}</td>
                <td>
                    {%for clase in grupo.clases.all %}
                    {{clase}}<br>
                    {% endfor %}
                </td>
                
                <td>{{ grupo.confirmados }} / {{ grupo.sin_confirmar }}</td>
                <td>{{ grupo.menores }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
