{% extends "site_base.html"%}
{% load i18n %}

{% block body %}
<div class="row">
    <div class="col-md-10 col-xs-12">
        <h4>Listado de Grupos</h4>
     
        <table class="table">
            <thead>
                <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Curso</td>
                <td>Clases</td>
                <td>Num Max</td>
                <td>Confirmados</td>
                <td>Sin Confirmar</td>
                <td>Menores</td>
                </tr>
            </thead>
            <tbody>
            {% for grupo in object_list %}
            <tr>
                <td><a href="{{grupo.get_absolute_url}}">{{ grupo.id }}</a></td>
                <td>{{ grupo.nombre }}</td>
                <td>{{ grupo.curso }}</td>
                <td>
                    {%for clase in grupo.clases.all %}
                    {{clase}}<br>
                    {% endfor %}
                </td>
                <td>{{ grupo.num_max }}</td>
                <td>{{ grupo.confirmados }}</td>
                <td>{{ grupo.sin_confirmar }}</td>
                <td>{{ grupo.menores }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    <h4>Acciones</h4>
    {% include "pagination/pagination.html" %}
    <a href="{% url 'grupo_nuevo' %}"><button>Nuevo</button></a>
    </div>
</div>
{% endblock %}
