{% extends "site_base.html"%}
{% load i18n %}
{% block body %}
<div class="row">
    <h1>{% trans "Grupo" %} {{object.nombre}} <a href="{% url 'grupo_editar' object.id %}"><span class="glyphicon glyphicon-pencil"></span></a> <a href="{% url 'grupo_borrar' object.id %}"><span class="glyphicon glyphicon-trash"></span></a> </h1>    
    <div class="col-md-12">
		<div class="btn-group" role="group" aria-label="...">
		<button class="btn">Planilla asistencia</button>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 9%}">9</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 10%}">10</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 11%}">11</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 12%}">12</a>     
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 1%}">1</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 2%}">2</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 3%}">3</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 4%}">4</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 5%}">5</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 6%}">6</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 7%}">7</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_asistencia_mes' grupo.id 8%}">8</a>
    </div>
    <div class="btn-group" role="group" aria-label="...">
		<button class="btn">Planilla Notas</button>
        <a type="button" class="btn btn-default" href="{% url 'grupo_notas_trimestre' grupo.id 1%}">1</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_notas_trimestre' grupo.id 2%}">2</a>
        <a type="button" class="btn btn-default" href="{% url 'grupo_notas_trimestre' grupo.id 3%}">3</a>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6"> 
        <h3>Clases</h3>
        <table class="table">
            <thead>
                <th>Dia</th>
                <th colspan="2">Horario</th>
                <th>Aula</th>
                <th>Prof</th>
            </thead>
            <tbody>
                {% for clase in object.clases.all %}
                <tr>
                    <td>{{clase.get_dia_semana_display}}</td><td>{{clase.hora_inicio}}</td><td>{{clase.hora_fin}}</td>
                    <td><a href="{% url 'aula_detalle' clase.aula.id %}">{{clase.aula.nombre}}</a></td><td><a href="{% url 'profesor_detalle' clase.profesor.id %}">{{clase.profesor}}</a></td>
                    <td>
                        <a href="{% url 'borrar_clase' clase.id %}" id=borrar_clase" class="btn" ><i class="zmdi zmdi-delete"></i></a>
                        <a href="{% url 'editar_clase' clase.id %}" id=editar_clase" class="btn" 
                        data-toggle="modal" data-target="#deleteAsistenciaModal" data-delete_url="{% url 'editar_clase_modal' clase.id %}" >
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'grupos/clase_modal.html' %}
        {% include 'grupos/clase_editar_modal.html' %}
        <h3>Resumen</h3>
        <table class="table">
            <tr><td>Nombre</td><td>{{object.nombre}}</td></tr>
            <tr><td>Precio</td><td>{{object.get_precio}}</td></tr>
            <tr><td>Num Max. Alumnos</td><td>{{object.num_max}}</td></tr>
            <tr><td>Menores</td><td>{{object.menores}}</td></tr>
        </table>
        <h3>Imprimir</h3>
        <form action="{% url 'imprimir_grupos_alumnos' %}" method="POST"> 
            {% csrf_token %}
            <input hidden id="grupo_id" name="grupo_id" value="{{object.id}}" />
            <input type="submit" class="btn zmdi zmdi-print" value="Imprimir ficha grupo" /> 
        </form>
    </div>
    <div class="col-lg-6"> 
        <h3>Alumnos</h3>
        <table class="table">
            <thead>
                <th>Alumno</th><th></th>
            </thead>
            {% for asistencia in object.asistencia_set.all %}
            <tr>
               
                <td><a href="{% url 'alumno_detalle' asistencia.alumno.id%}">{{asistencia.alumno.id}} - {{asistencia.alumno.nombre}},{{asistencia.alumno.apellido1}} {{asistencia.alumno.apellido2}}</a></td>
                <td>
                    {% if not asistencia.confirmado %}
                        <a class="btn btn-primary zmdi zmdi-check" href="{% url 'imprimir_asistencia_horario' asistencia.id %}">Confirmar</a>
                    {% endif %}
                    <a class="btn zmdi zmdi-print" href="{% url 'imprimir_asistencia_horario' asistencia.id %}">Horario</a>
                    <a class="btn zmdi zmdi-edit" href="{% url 'asistencia_editar' asistencia.id %}"></a>
                    <button type="button" class="btn zmdi zmdi-delete" data-toggle="modal" data-target="#deleteAsistenciaModal" data-delete_url="{% url 'asistencia_borrar' asistencia.id %}"></button>
                </td>
            </tr>
            {% endfor %}
            {% include "grupos/asistencia_modal.html" %}
        </table>
        <a class="btn btn-primary" href="{% url 'asistencia_nueva_grupo' object.id %}">Añadir alumno</a>
    </div>
</div>    

{% endblock %}

{% block scripts %}
<script>
$('#claseModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var grupo_id = button.data('grupo_id'); // Extract info from data-* attributes
  var modal = $(this);
  var form_url = "/clases/nueva/grupo/"+grupo_id+"/";
  console.log("Vamos a cargar la form de ",form_url);
  modal.find('.modal-body').load(form_url);
});

$('#claseEditarModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var grupo_id = button.data('grupo_id'); // Extract info from data-* attributes
  var modal = $(this);
  var form_url = button.data('edit_url');
  console.log("Vamos a cargar la form de ",form_url);
  modal.find('.modal-body').load(form_url);
});

$('#deleteAsistenciaModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var delete_url = button.data('delete_url') // Extract info from data-* attributes
  var modal = $(this)
  console.log("Cargamos el form de ",delete_url)
  modal.find('.modal-body').load(delete_url)
});
</script>
{% endblock %}
