<td>
    {% if alumno.has_user %} 
        {{ alumno.user }} (activo: {{ alumno.user.is_active | yesno }})
        {% if alumno.user.is_active %}
        <td>
        <form method="POST" action="{% url 'alumno_passwordreset' alumno.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning"><i class="zmdi zmdi-refresh" ></i>&nbsp;&nbsp;Resetear pass.</button>
        </form>
        </td>
        <td>
        <form method="POST" action="{% url 'alumno_disableuser' alumno.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-account-o" ></i>&nbsp;&nbsp;Disable</button>
        </form>
        </td>
        {% else %}
        <td>
        <form method="POST" action="{% url 'alumno_enableuser' alumno.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-info"><i class="zmdi zmdi-account-o" ></i>&nbsp;&nbsp;Enable</button>
        </form>
        </td>
        {% endif %}
    {% else %} 
        <form method="POST" action="{% url 'alumno_createuser' alumno.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" > <i class="zmdi zmdi-account-add" ></i>&nbsp;&nbsp;Crear</button>
        </form>
    {% endif %}
</td>