{% extends "site_base.html"%}

{% load i18n %}

{% block body %}

    <h1>{% trans "Alumno" %} {{object.apellido1}} {{object.apellido2}}, {{object.nombre}} <a href="{% url 'alumno_editar' object.id %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
    <h2>Información</h2>
    <table class="table">
        <tr>
            <td>Nombre</td><td>{{object.nombre}}</td>
            <td>Apellido(s)</td><td>{{object.apellido1}} {{object.apellido2}}</td>
        </tr>
            <td>Teléfonos</td><td>{{object.telefono1}}</td>
            <td>{{object.telefono2}}</td>
        </tr>
        <tr>
            <td>Fecha Nac.</td> <td>{{ object.fecha_nacimiento }}</td> <td>E-mail</td><td><a href="mailto:{{object.email}}">{{object.email}}</a></td>
        </tr>
        <tr>
            <td>Dirección</td><td>{{object.direccion}}</td>
            <td>Ciudad</td><td>{{object.ciudad}}</td>
            <td>CP</td><td>{{object.cp}}</td>
        </tr>
        <tr>
            <td>Cuenta</td><td>{{object.cuenta_bancaria}}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{% url 'imprimir_alumno_matricula' alumno.id %}">
        <i class="zmdi zmdi-print"></i> Imprimir matricula
    </a>
    <a class="btn btn-secondary" href="{% url 'imprimir_alumno_octavilla' alumno.id %}">
        <i class="zmdi zmdi-print"></i> Imprimir Octavilla
    </a>
    <h2>Grupos </h2>
    <table class="table">
        <thead>
            <th>Año</th>
            <th>Grupo</th>
            <th>Confirmado</th>
            <th>Factura</th>
            <th>Metálico</th>
            <th>Precio</th>
        </thead>
        {% for asistencia in object.asistencia_set.all %}
        <tr>
            <td>{{ asistencia.year }}</td><td>{{ asistencia.grupo.nombre }}</td><td>{{ asistencia.confirmado|yesno }}</td>
            <td>{{ asistencia.factura|yesno }}</td><td>{{ asistencia.metalico|yesno }}</td><td>{{ asistencia.ver_precio }}</td>
            <td>
                <a class="btn btn-primary zmdi zmdi-print" href="{% url 'imprimir_asistencia_horario' asistencia.id %}">Horario</a> 
                <button type="button" class="btn btn-warning zmdi zmdi-delete" data-toggle="modal" data-target="#deleteGrupoModal" data-delete_url="{% url 'asistencia_borrar' asistencia.id %}">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <a class="btn btn-primary" href="{% url 'asistencia_nueva_alumno' alumno.id %}">Añadir a grupo</a>
    
    <div class="modal fade" id="deleteGrupoModal" tabindex="-1" role="dialog" aria-labelledby="deleteGrupoModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteGrupoModalLabel">Borrar asistencia</h4>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>

    <h2>Histórico</h2>
    <table class="table">
        <thead><th>Fecha</th><th>Tipo</th><th>Anotación</th></thead>
        <tbody>
            {% for historia in object.historia_set.all %}
            <tr>
                <td>{{historia.fecha}}</td><td>{{historia.tipo}}</td><td>{{historia.anotacion}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
<script>
$('#deleteGrupoModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('delete_url') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-body').load(recipient)
});

//~ $('asistencia-delete-form').on('submit', function(event){
   //~ event.preventDefault();
   //~ console.log("Vamos a borrar");
   //~ asistencia_delete_post(); 
//~ });
</script>
{% endblock %}
