{% extends "site_base.html"%}

{% load i18n %}
{% load evaluacion_extra_tags %}

{% block page_header %}<h1> {{object.id}} {{object.apellido1}} {{object.apellido2}}, {{object.nombre}}</h1>{% endblock %}

{% block body %}

    
    <h2>Información</h2>
    <table class="table">
        <tr>
            <td>Nombre</td><td>{{object.nombre}}</td>
            <td>Apellido(s)</td><td>{{object.apellido1}} {{object.apellido2}}</td>
        </tr>
            <td>Teléfonos</td><td>{{object.telefono1}}</td>
            <td>{{object.telefono2}}</td>
            {% include 'alumnos/alumno_usuario.html' %}
        </tr>
        </tr>
            <td>E-Mail</td>
            <td><e-mail>{{object.email}}</e-mail></td>
            <td><e-mail>{{object.email2}}</e-mail></td>
        </tr>

        <tr>
            <td>Fecha Nac.</td> <td>{{ object.fecha_nacimiento }}</td> <td>E-mail</td><td><a href="mailto:{{object.email}}">{{object.email}}</a></td>
        </tr>
        <tr>
            <td>Dirección</td><td>{{object.direccion}}</td>
            <td>Ciudad</td><td>{{object.ciudad}}</td>
            <td>CP</td><td>{{object.cp}}</td>
        </tr>
        <tr>
            <td>Cuenta</td><td>{{object.cuenta_bancaria}}</td>
            <td>Observaciones</td><td>{{object.observaciones}}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{% url 'alumno_mail_enviar' alumno.id %}">
        <i class="zmdi zmdi-email"></i> Enviar e-mail
    </a>
    <a class="btn btn-primary" href="{% url 'alumno_mail_lista' alumno.id %}">
        <i class="zmdi zmdi-email-open"></i> Lista e-mail
    </a>
    
    <a class="btn btn-primary" href="{% url 'imprimir_alumno_matricula' alumno.id %}">
        <i class="zmdi zmdi-print"></i> Imprimir matricula
    </a>
    <a class="btn btn-secondary" href="{% url 'imprimir_alumno_octavilla' alumno.id %}">
        <i class="zmdi zmdi-print"></i> Imprimir Octavilla
    </a>
    <a class="btn btn-warning" data-toggle="modal" data-target="#bajaModal" >
        <i class="zmdi zmdi-delete"></i> Dar de baja
    </a>
    <a class="btn btn-primary" href="{% url 'alumno_editar' object.id %}">
        <i class="glyphicon glyphicon-pencil"></i> Editar
    </a>
    <div class="modal fade" id="bajaModal" tabindex="-1" role="dialog" aria-labelledby="bajaModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bajaModalLabel">Dar de baja alumno</h4>
          </div>
          <div class="modal-body">
               <form action="{% url 'alumno_baja' alumno.id %}" method="post">
                   {% csrf_token %}
                   Atención, ¿seguro que sea dar de baja el alumno?
                   <input type="submit" class="btn btn-warning" / value="Baja">
               </form>
          </div>
        </div>
      </div>
    </div>
    
    <h2>Grupos </h2>
    {% include "alumnos/asistencia_tabla_grupos.html" %}

<a class="btn btn-primary" href="{% url 'asistencia_nueva_alumno' alumno.id %}">Añadir a grupo</a>
<h2>Observaciones</h2>
<table class="table table-hover table-bordered bootgrid-table table-striped">
        <thead>
            <th>Anotación</th>
            <th>Fecha</th>
            <th>Usuario</th>
        </thead>
        <tbody>
            {% for anotacion in object.anotacion_set.all %}
            <tr>
            <td>{{anotacion.texto}}</td>
            <td>{{anotacion.fecha}}</td>
            <td>{{anotacion.creador.username}}</td>
                <td><a href="{% url 'alumno_anotacion_borrar' anotacion.id %}"
                       class="btn btn-warning zmdi zmdi-delete">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'alumno_anotacion_nueva' object.id %}">Añadir anotación</a>
<h2>Notas</h2>
    {% include "alumnos/tabla_notas_trimestre.html" %}
    {% include "alumnos/tabla_notas_cuatrimestre.html" %}
    <h2>Prueba de nivel</h2>
        <table class="table table-hover table-bordered bootgrid-table table-striped">
            <thead>
                <th>Fecha</th>
                <th>Resutado</th>
                <th>Nivel recomendado</th>
                <th>Observaciones</th>
            </thead>
            <tbody>
                {% for prueba in alumno.pruebanivel_set.all %}
                <tr>
                    <td>{{ prueba.fecha_creacion }}</td>
                    <td>{{ prueba.resultado }}</td>
                    <td>{{ prueba.nivel_recomendado }}</td>
                    <td>{{ prueba.observaciones }}</td>
                    <td><a class="btn btn-warning zmdi zmdi-delete"
                           href="{%  url 'alumno_pruebanivel_borrar' prueba.id %}"> Borrar </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'alumno_pruebanivel_nueva' alumno.id %}">Añadir resultado prueba nivel</a>
    <br />
    <h2>Exámenes Cambridge</h2>
        <table class="table table-hover table-bordered bootgrid-table table-striped">
            <thead>
                <th>Fecha</th>
                <th>Nivel</th>
                <th>Resutado</th>
                <th>Observaciones</th>
                <th></th>
            </thead>
            <tbody>
                {% for prueba in alumno.resultadocambridge_set.all %}
                <tr>
                    <td>{{ prueba.ano }}</td>
                    <td>{{ prueba.get_nivel_display }}</td>
                    <td>{{ prueba.get_resultado_display }}</td>
                    <td>{{ prueba.observaciones }}</td>
                    <td><a class="btn btn-warning zmdi zmdi-delete"
                           href="{%  url 'alumno_resultadocambridge_borrar' prueba.id %}"> Borrar </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'alumno_resultadocambridge_nuevo' alumno.id %}">Añadir resultado exámen Cambridge</a>
    <br />

    <div class="modal fade" id="deleteGrupoModal" tabindex="-1" role="dialog" aria-labelledby="deleteGrupoModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteGrupoModalLabel">Borrar asistencia</h4>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>

    <h2>Histórico</h2>
    <table class="table">
        <thead><th>Fecha</th><th>Tipo</th><th>Anotación</th></thead>
        <tbody>
            {% for historia in object.historia_set.all %}
            <tr>
                <td>{{historia.fecha}}</td><td>{{historia.tipo}}</td><td>{{historia.anotacion}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
<script>
$('#deleteGrupoModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('delete_url') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-body').load(recipient)
});

//~ $('asistencia-delete-form').on('submit', function(event){
   //~ event.preventDefault();
   //~ console.log("Vamos a borrar");
   //~ asistencia_delete_post(); 
//~ });
</script>
{% endblock %}
