<table class="table">
        <thead>
            <th>Año</th>
            <th>Grupo</th>
            <th>Confirmado</th>
            <th>Factura</th>
            <th>Metálico</th>
            <th>Precio</th>
        </thead>
        {% for asistencia in object.asistencia_todas %}
        <tr {% if asistencia.year == year and not asistencia.borrada %} class="active" {% endif %}>
            <td>{{ asistencia.year }}</td>
            <td>{% if asistencia.year == year and not asistencia.borrada %}<a href="{% url 'grupo_detalle' asistencia.grupo.id %}">{% endif %}{{ asistencia.grupo.nombre }}{% if asistencia.year == year %}</a>{% endif %}</td>
            <td>{{ asistencia.confirmado|yesno }}</td>
            <td>{{ asistencia.factura|yesno }}</td><td>{{ asistencia.metalico|yesno }}</td><td>{{ asistencia.ver_precio }}</td>
            <td>
                {%  if asistencia.borrada %}
                    Baja <a class="btn btn-small btn-primary" onclick="on_recuperar_click({{asistencia.id}})"">
                        <i class="zmdi zmdi-time-restore"></i>
                    </a>
                {% elif asistencia.year == year %}
                    <a class="btn btn-primary zmdi zmdi-edit" href="{% url 'asistencia_editar' asistencia.id %}"></a>
                    {% if asistencia.confirmado %}
                        <a class="btn btn-primary zmdi zmdi-print" href="{% url 'imprimir_asistencia_horario' asistencia.id %}">Horario</a>
                    {% else %}
                        <a class="btn btn-primary zmdi zmdi-check" href="{% url 'imprimir_asistencia_horario' asistencia.id %}">Confirmar</a>
                    {% endif %}

                <button type="button" class="btn btn-warning zmdi zmdi-delete" data-toggle="modal" data-target="#deleteGrupoModal" data-delete_url="{% url 'asistencia_borrar' asistencia.id %}">Eliminar</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
<script>
function on_recuperar_click(asistencia)
{
    $('body').addClass('wait');

    console.log("Recuperamos la asistencia: "+asistencia);
    $.ajax({
        url : "{% url 'asistencia_recuperar' %}",
        type : "POST",
        data : { id : asistencia,
                csrfmiddlewaretoken: '{{ csrf_token }}',
             },

        success : function(json) {
            console.log("success"); // another sanity check
            console.log(json); // log the returned json to the console
            $('body').removeClass('wait');
            console.log("reload");
            document.location.reload();
        },

        error : function(xhr,errmsg,err) {
            console.log("ERROR",errmsg,err);
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            $('body').removeClass('wait');
        }

    });

}
</script>