{% extends "site_base.html"%}
{% load crispy_forms_tags %}
{% load i18n %}

{% block body %}
<div class="borrar">
<form action="" class="form" method="post">{% csrf_token %}
    <div class="form-group">
        <label>¿Estás seguro de que quieres borrar el elemento ?</label>
        <br />
        <button class="btn btn-warning zmdi zmdi-delete" type="submit" > Borrar </button>
        <button class="btn btn-primary" onclick="history.go(-1);" > Cancelar </button>
    </div>
</form>
</div>
{% endblock %}
