{% extends "site_base.html"%}
{% load bootstrap_tags %}
{% load i18n %}
{% block page_header %}
<h1>{% trans "Nuevo Prueba de Nivel" %}</h1>
{% endblock %}
{% block body %}

<div class="row">
    <p>Añade a continuación el resultado, nivel recomenado y cualquier observación.</p>
    <form action="" method="post" class="form">{% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
        <a href="" class="btn">Cancelar</a>
        <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
