{% load i18n %}
{% load evaluacion_extra_tags %}

    <table class="table table-hover table-bordered bootgrid-table table-striped">
            <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Faltas/Justificadas</th>
                    <th>Trimestre</th>
                    <th>Nota</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
            {% for asistencia in object.asistencia_set.all %}
            {% for nota in asistencia.notatrimestral_set.all %}
            <tr>
                <td>{{nota.asistencia.grupo}}</td>
                <td>{{nota.ver_legacy_faltas}}</td>
                <td>{{nota.trimestre}}</td>
                <td>{{nota.nota}}</td>
                <td>{{ nota.observaciones }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
