{% extends "site_base.html"%}

{% load i18n %}

{% block body %}
<p>
<a class="btn btn-success" href="{% url hobetuz_excel %}">Bajar como fichero excel</a></li>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>{% trans "Cursos" %}</td>
            <td>{% trans "Nombre" %}</td>
            <td>{% trans "Desempleado" %}</td>
            
            <td> Acciones </td>
            
        </tr>
    </thead>
    <tbody>
        {% for matricula in object_list %}
        <tr>
            <td> <a href="{% url hobetuz_view matricula.id %}">{{ matricula.id }}</a> </td>
            <td>{{ matricula.curso.name }} | {{ matricula.curso2.name }} | {{ matricula.curso3.name }} | {{ matricula.curso4.name }} | {{ matricula.curso5.name }}</td>
            <td>{{ matricula.surname }},{{ matricula.name }}</td>
	    <td>{{ matricula.desempleado}}</td>
            
            
            <td>
		<a class="btn primary" href="{% url hobetuz_view matricula.id %}">Detalles</a>
		<a class="btn" href="{% url hobetuz_edit matricula.id %}">Editar</a> 
                <!-- <a class="btn" href="{% url hobetuz_imprimir matricula.id %}">{% trans "Print" %}</a> -->
                <a class="btn" href="{% url hobetuz_delete matricula.id %}">{% trans "Delete" %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
