{% extends "site_base.html"%}

{% load i18n %}

{% block body %}
<p>
<a class="btn btn-success" href="">Bajar como fichero excel</a></li>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>{% trans "Curso" %}</td>
            <td>{% trans "Nombre" %}</td>
            <td>{% trans "Desempleado" %}</td>
            <td>{% trans "Funcionario" %}</td>
            <td>{% trans "Nivel Ingles" %}</td>
            
            <td> Acciones </td>
            
        </tr>
    </thead>
    <tbody>
        {% for matricula in object_list %}
        <tr>
            <td> <a href="{% url 'hobetuz_2019_view' matricula.id %}">{{ matricula.id }}</a> </td>
            <td>{{ matricula.get_curso_display }} </td>
            <td>{{ matricula.surname }},{{ matricula.name }}</td>
	        <td>{{ matricula.desempleado}}</td>
            <td>{{ matricula.funcionario}}</td>
            <td>{{ matricula.nivel_ingles}}</td>
            
            <td>
		        <a class="btn primary" href="{% url 'hobetuz_2019_view' matricula.id %}">Detalles</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
