{% extends "site_base.html"%}
{% load i18n %}
{% load bootstrap %}

{% block extra_body %}

<script>
	function comprobar_aceptacion() {
		console.log("Comprobamos de las condiciones");
		acepta = false;
		if ($("#id_accept_conditions").is(":checked"))
		{
		    console.log("Condiciones generales aceptadas");
			acepta = true;
		}
		if (acepta) {
		    console.log("Dice que las acepta");
		    $("#send_form").prop('disabled', false);
		    console.log("Ocultamos el aviso");
		    $("#aviso_condiciones").hide();
		}else {
		    //Deshabilitamos el envio hasta que acepten las condiciones
			console.log("Dice que NO las acepta");
			$("#send_form").prop('disabled', true);
		    console.log("Mostramos el aviso");
		    $("#aviso_condiciones").show();
		}
    }
	function comprobar_desempleado() {
		console.log("Han hecho click en el check de desempleado");
		if ($("#id_desempleado").is(":checked")) {
			console.log("Dice que esta desempleado");
			
			$("#id_fecha_desempleo").prop('disabled', false);
			
			$("#id_empresa_nombre").prop('disabled', true);
			$("#id_empresa_puesto").prop('disabled', true);
			$("#id_empresa_actividad").prop('disabled', true);
			
	    
	   }else {
			//Deshabilitamos el envio hasta que acepten las condiciones
			console.log("Dice que NO está desempleado");
			$("#id_fecha_desempleo").prop('disabled', true);
			
			$("#id_empresa_nombre").prop('disabled', false);
			$("#id_empresa_puesto").prop('disabled', false);
			$("#id_empresa_actividad").prop('disabled', false);
			
					
		}
	};
	$(document).ready(function() {
		//$("#id_birth_date").datepicker({format: "yyyy-mm-dd",weekStart: 1});
		$("#normativa_general").hide();
		//comprobar_desempleado();
		//$("#id_desempleado").change(comprobar_desempleado);
		//Control de la aceptación de las condiciones:
		comprobar_aceptacion();
		$("#id_accept_conditions").change(comprobar_aceptacion);
		
            
	});            
</script>

{% endblock%}

{% block body %}

<h1>{% trans "Solicita un curso de Hobetuz" %}</h1>


<div class="alert-mesagge block-message alert">
<p>
Le informamos conforme a lo previsto en el RGPD de 27 de abril de 2016 que ESCUELAS INTERNACIONALES PARA LA EDUCACIÓN Y EL DESARROLLO EIDE S.L., recaba y trata sus datos de carácter personal, aplicando las medidas técnicas y organizativas que garantizan su confidencialidad, con la finalidad de gestionar la relación que le vincula. Usted da su consentimiento y autorización para dicho tratamiento. Conservaremos sus datos de carácter personal únicamente el tiempo imprescindible para gestionar nuestra relación. Podrá ejercitar los derechos de acceso, rectificación, supresión, limitación, portabilidad y oposición dirigiéndose a ESCUELAS INTERNACIONALES PARA LA EDUCACIÓN Y EL DESARROLLO EIDE S.L. con dirección Genaro Oraá Kalea 6,Santurce,48980,BIZKAIA.
</p>
</div>

<div class="alert-mesagge block-message alert">
<p>Si desea solicitar un curso de Hobetuz en EIDE, por favor, indíquenos los datos que le indicamos a continuación. Esta solicitud no implica que vaya a ser seleccionado. En caso de que convoquemos un curso de los que solicita y cumpla los requisitos, no pondremos en contacto con usted para realizar un proceso de selección.</p>
<p>Los campos con un (*) con oblitarios el resto son opcionales</p>
</div>

<div class="row">
    <div class="span14">
		
	<form action="" method="post" class="form-horizontal" >{% csrf_token %}
	{{ form|bootstrap }}
    </div> 
</div>

<div class="row">
    <div class="span12">    
	<div class="well" id="aviso_condiciones">
	    {% trans "<b>¡Atención!.</b> Todavía no ha aceptado las condiciones. Si no acepta las condiciones generales no podrá enviar la matrícula." %}
	</div>
	<input id="send_form" class="btn primary pull-right" type="submit" value="{% trans 'Submit' %}" />
    </div> 
</div> 

{% endblock %}
