{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Detalle del aula" %} {{ aula.id }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 col-xs-12">

        <table class="table">
            <tbody>
                 <tr>
                        <td><b>Nombre</b>: <a href="{% url 'aula_editar' aula.id %}">{{ aula }}</a></td>
                        <td><b>Aforo</b>: {{ aula.aforo }}</td>
                        <td><b>PDI</b>: {{ aula.pdi }}</td>
                        <td>
                            <a href="{% url 'aula_editar' aula.id %}">
                                <i class="zmdi zmdi-pencil" >Editar</i>
                          </a>
                        </td>
                </tr>
            </tbody>
        </table>
        <h2>Clases</h2>
        {% include "aula_tabla_clases.html" %}
    </div>
</div>



{% endblock %}
