{% extends "public_base.html"%}
{% load i18n %}
{% load qr_code %}

{% block page_header %}<h1> Ticket Bai {{object}} </h1>{% endblock %}
{% block body %}
{% qr_from_text object.public_url size="T" image_format="png" error_correction="L" %}

<table class="table">
    <tbody>
    <tr>
        <td>id</td>
        <td>{{object.id}}</td>
    </tr>
    <tr>
        <td>IDVersionTBAI</td>
        <td>{{object.IDVersionTBAI}}</td>
    </tr>
    <tr>
        <td>Emisor_NIF</td>
        <td>{{object.Emisor_NIF}}</td>
    </tr>
    <tr>
        <td>Emisor_ApellidosNombreRazonSocial</td>
        <td>{{object.Emisor_ApellidosNombreRazonSocial}}</td>
    </tr>
    <tr>
        <td>Destinatarios_NIF</td>
        <td>{{object.Destinatarios_NIF}}</td>
    </tr>
    <tr>
        <td>Destinatarios_ApellidosNombreRazonSocial</td>
        <td>{{object.Destinatarios_ApellidosNombreRazonSocial}}</td>
    </tr>
    <tr>
        <td>Factura_SerieFactura</td>
        <td>{{object.Factura_SerieFactura}}</td>
    </tr>
    <tr>
        <td>Factura_NumFactura</td>
        <td>{{object.Factura_NumFactura}}</td>
    </tr>
    <tr>
        <td>DatosFactura_DescripcionFactura</td>
        <td>{{object.DatosFactura_DescripcionFactura}}</td>
    </tr>
    <tr>
        <td>DatosFactura_ImporteTotalFactura</td>
        <td>{{object.DatosFactura_ImporteTotalFactura}}</td>
    </tr>
    <tr>
        <td>enviada</td>
        <td>{{object.enviada|yesno}}</td>
    </tr>
    </tbody>
</table>

{% endblock %}