{% extends "site_base.html"%}
{% load i18n %}

{% block title %}
Listado de asistencias
{% endblock %}

{% block page_header %}
{% include "pagination/pagination.html" %} 
Viendo <b>{{ page_obj.start_index }}</b>-<b>{{ page_obj.end_index }}</b> alumnos.
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered bootgrid-table table-striped">
            <thead>
                <tr>
                <td>ID</td>
                <td>Alumno</td>
                <td>Grupo</td>
                <td>Precio</td>
                <td>Metálico</td>
                <td>Factura</td>
                <td>Confirmado</td>
                </tr>
            </thead>
            <tbody>
            {% for asistencia in object_list %}
            <tr>
				<td><a href="{% url 'asistencia_editar' asistencia.id %}">{{asistencia.id}}</a></td>
				<td><a href="{% url 'alumno_detalle' asistencia.alumno.id %}"> {{ asistencia.alumno }}</a></td>
				<td><a href="{% url 'grupo_detalle' asistencia.grupo.id %}">{{ asistencia.grupo }}</a></td>
				<td>{{ asistencia.ver_precio }}</td>
				<td>{{ asistencia.metalico|yesno:"Si,No" }}</td>
				<td>{{ asistencia.factura|yesno:"Si,No" }}</td>
				<td>{{ asistencia.confirmado|yesno:"Si,No" }}</td>
				<td>
					    <a class="btn btn-small btn-primary" onclick="on_recuperar_click({{asistencia.id}})"">
                        <i class="zmdi zmdi-time-restore"></i>
                    </a>
				</td>
			 </tr>
			 {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function on_recuperar_click(asistencia)
{
    $('body').addClass('wait');

    console.log("Recuperamos la asistencia: "+asistencia);
    $.ajax({
        url : "{% url 'asistencia_recuperar' %}",
        type : "POST", 
        data : { id : asistencia,
                csrfmiddlewaretoken: '{{ csrf_token }}',
             },
        
        success : function(json) {
            console.log("success"); // another sanity check
            console.log(json); // log the returned json to the console
            $('body').removeClass('wait');
            console.log("reload");
            document.location.reload();
        },
        
        error : function(xhr,errmsg,err) {
            console.log("ERROR",errmsg,err);
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            $('body').removeClass('wait');
        }
        
    });
    
}
</script>
{% endblock %}
